.about-rest {
  background-color: var(--accent-background);
  padding-top: 16px;
  padding-bottom: 20px;
}

@media screen and (min-width: 1024px) {
  .about-rest {
    padding-top: 120px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .about-rest {
    padding-bottom: 50px;
  }
}

.about-rest-container {
  position: relative;
}

@media screen and (max-width: 1023px) {
  .about-rest-container {
    overflow: hidden;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .about-rest-container {
    padding-right: 60px;
  }
}

.about-rest-wrapper-main {
  margin-bottom: 32px;
}

@media screen and (min-width: 1024px) {
  .about-rest-wrapper-main {
    margin-bottom: 142px;
  }
}

@media screen and (min-width: 1280px) {
  .about-rest-wrapper-main {
    margin-bottom: 162px;
  }
}

@media screen and (max-width: 1023px) {
  .about-rest-main-info {
    margin-bottom: 32px;
  }
}

.about-rest-subtitle {
  margin-bottom: 12px;

  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 20px;
  line-height: calc(23 / 20);
  color: #b4b4b4;
}

@media screen and (min-width: 1024px) {
  .about-rest-subtitle {
    margin-bottom: 4px;

    font-size: 32px;
    line-height: calc(37 / 32);
  }
}

.rest-name {
  margin-bottom: 12px;

  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 40px;
  line-height: calc(43 / 40);
  letter-spacing: 0.3em;

  color: var(--title-text-color);
}

@media screen and (min-width: 1024px) {
  .rest-name {
    margin-bottom: 24px;

    font-size: 64px;
    line-height: calc(69 / 64);
  }
}

.about-rest-desc {
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;

  color: var(--accent-text-color);
}

@media screen and (min-width: 1024px) {
  .about-rest-desc {
    line-height: calc(20 / 16);
    font-size: 16px;
  }
}

@media screen and (max-width: 1023px) {
  .about-rest-interior-main img {
    margin-left: auto;
  }
}

@media screen and (min-width: 1024px) {
  .about-rest-interior-main {
    position: absolute;
    top: -152px;
    right: 112px;
  }
}

@media screen and (min-width: 1280px) {
  .about-rest-interior-main {
    top: -153px;
    right: 180px;
  }
}

.about-rest-desc {
  max-width: 258px;
}

@media screen and (min-width: 1024px) {
  .about-rest-desc {
    max-width: 439px;
  }
}

@media screen and (min-width: 1280px) {
  .about-rest-desc {
    max-width: 518px;
  }
}

@media screen and (max-width: 413px) {
  .about-rest-interior {
    overflow: hidden;
  }
}

.about-rest-interior img,
.about-rest-interior-main img {
  box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.about-rest-wrapper-details {
  display: flex;
  column-gap: 20px;
}

@media screen and (min-width: 1024px) {
  .about-rest-wrapper-details {
    column-gap: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .about-rest-wrapper-details {
    column-gap: 32px;
  }
}

.about-rest-desc.gold {
  color: var(--style-text-color);
  max-width: 163px;
  margin-top: 70px;
}

@media screen and (min-width: 1024px) {
  .about-rest-desc.gold {
    max-width: 312px;
    margin-top: 196px;
  }
}

// позиціонування контейнер слайдеру
.swiper-container__about-restaurant {
  position: absolute;
  bottom: 56px;
  left: 84px;
}

@media screen and (min-width: 1024px) {
  .swiper-container__about-restaurant {
    bottom: 64px;
    left: 536px;
    width: 428px;
  }
}

@media screen and (min-width: 1280px) {
  .swiper-container__about-restaurant {
    bottom: 68px;
    left: 647px;
    width: 548px;
  }
}

// налаштування розмірів слайдеру для mobile
.swiper-fix {
  height: 245px;
  width: 515px;
}

@media screen and (min-width: 1024px) {
  .swiper-fix {
    height: 194px;
    width: 428px;
  }
}

@media screen and (min-width: 1280px) {
  .swiper-fix {
    height: 254px;
    width: 548px;
  }
}

// стилізація зображень слайдеру
.swiper-slide img {
  border-radius: 2px;
  width: 100%;
}

// позиціонування нових кнопок слайдера
.swiper-btn-wrapper_about-restaurant {
  display: flex;
  gap: 32px;
  margin-top: 297px;
  justify-content: end;
}

@media screen and (min-width: 1024px) {
  .swiper-btn-wrapper_about-restaurant {
    margin-top: 198px;
  }
}

@media screen and (min-width: 1280px) {
  .swiper-btn-wrapper_about-restaurant {
    margin-top: 143px;
  }
}

// стилізація нових кнопок слайдера
.js-swiper-button-next,
.js-swiper-button-prev {
  padding: 0;

  fill: #000000;
  line-height: 0;
  background-color: transparent;
  border: none;
  outline: none;

  transition: fill var(--transition-fast);

  cursor: pointer;
}

.js-swiper-button-next:hover,
.js-swiper-button-next:focus,
.js-swiper-button-next:active,
.js-swiper-button-prev:hover,
.js-swiper-button-prev:focus,
.js-swiper-button-prev:active {
  fill: #f3c653;
}
