.room-amenities {
  background-color: var(--accent-background);
  color: #7a7a7a;
}

// додаткові налаштування контейнеру
.room-amenities-container {
  padding-top: 32px;
  padding-bottom: 32px;
}

@media screen and (min-width: 1024px) {
  .room-amenities-container {
    padding-top: 48px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .room-amenities-container {
    padding-bottom: 48px;
  }
}

// обгортка текстового контенту
.room-amenities__wrapper-text {
  margin-bottom: 32px;
}

@media screen and (min-width: 1024px) {
  .room-amenities__wrapper-text {
    margin-bottom: 40px;
  }
}

// налаштування головного заголовку
.room-amenities__title {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 32px;
  line-height: calc(37 / 32);
  margin-bottom: 16px;
  color: var(--footer-background);
  text-transform: uppercase;
}

// налаштування головного абзацу
.room-amenities__title-content {
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20px / 16px);
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

@media screen and (min-width: 1024px) {
  .room-amenities__title-content {
    width: 757px;
  }
}

.room-amenities__content:not(:last-child) {
  margin-bottom: 32px;
}


// налаштування заголовків
.room-amenities__content-title {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  color: var(--footer-background);
  margin-bottom: 16px;
  text-transform: uppercase;
}


// позиціонування абзаців
.room-amenities__content-blok {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 1024px) {
  .room-amenities__content-blok {
    flex-direction: row;
    gap: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .room-amenities__content-blok {
    gap: 159px;
  }
}


// налаштування абзаців
.room-amenities__content-text {
  display: block;
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20px / 16px);
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1024px) {
  .room-amenities__content-text {
    width: 400px;
  }
}

// позиціонування кнопки button
.room-amenities__button {
  margin-bottom: 20px;
}

@media screen and (min-width: 1024px) {
  .room-amenities__button {
    margin-bottom: 32px;
    display: block;
    margin-left: auto;
    margin-right: 0;
  }
}


// налаштування та позиціонування посилання
.room-amenities__link {
  font-family: var(--font-main);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;

  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;

  color: var(--style-text-color);
  fill: var(--style-text-color);
}

@media screen and (min-width: 1024px) {
  .room-amenities__link {
    font-size: 20px;
    line-height: calc(24 / 20);
    justify-content: end;
  }
}

.room-amenities__link:hover,
.room-amenities__link:focus {
  color: var(--color-text-btn);
  fill: var(--color-text-btn);
}