.auth-backdrop {
  padding-top: 96px;
  padding-left: 20px;
  padding-right: 20px;

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-size: cover;
    // background-image: linear-gradient(274.8deg,
    //     #5737e9 -7.81%,
    //     rgba(160, 142, 242, 0.76) 61.58%,
    //     #b5a7f5 81.74%);
     background-image: radial-gradient(
    circle at top left,
     rgba(204, 236, 231, 0.4) 10%,
    #4F2EE8 50%
  );
  background-color: var(--light-accent-color);


  transform: scale(1);
  opacity: 1;

  overflow-y: auto;
  z-index: 999;
  transition: opacity var(--animation-slow), visibility var(--animation-slow), transform var(--animation-slow);
}

.auth-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: scale(0.3);
}

.auth-form {
  position: relative;
  margin: 0;

  max-width: 335px;

  display: block;

  background-color: var(--light-header-bg-color);
  border: 2px solid var(--light-border-n-text-color);
  border-radius: 18px;
  @media screen and (min-width: '579px') {
    max-width: 579px;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
  }
}

body.auth-form-open {
  overflow: hidden;
}

.auth-content {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-top: 40px;

  display: flex;
  flex-direction: column;
  @media screen and (min-width: '579px') {
    padding-top: 80px;
  }
}

.auth-form-close-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 20px;
  height: 20px;

  display: block;

  cursor: pointer;

  @media screen and (min-width: '579px') {
    top: 24px;
    right: 24px;

    width: 28px;
    height: 28px;
  }
}

.auth-form-cross-icon {
  stroke: var(--light-border-n-text-color);
  transition: stroke var(--animation);
  @media screen and (min-width: '579px') {
    width: 28px;
    height: 28px;
  }
}

.auth-form-cross-icon:hover,
.auth-form-cross-icon:focus {
  stroke: var(--light-accent-color);
}

.auth-form-cross-icon:active {
  stroke: var(--light-accent-color-2);
}

.auth-content input {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  margin-bottom: 24px;

  outline: 2px solid var(--light-border-n-text-color);
  border: transparent;
  transition: border var(--animation);
  border-radius: 40px;

  @media screen and (min-width: 579px) {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    margin-bottom: 28px;
  }
}

.auth-content input:hover {
  outline: 2px solid var(--light-accent-color);
}

.auth-content input:focus,
.auth-content input:active {
  border: transparent;
  outline: 2px solid var(--light-accent-color-2);
}

.auth-content input::placeholder,
.signup-btn {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  @media screen and (min-width: 579px) {
    font-size: 18px;
    line-height: 1.33;
  }
}

.auth-form-links {
  display: flex;
  justify-content: center;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;

  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.auth-form-links a {
  color: var(--light-accent-color);
}

.auth-form-links a:not(:last-child) {
  margin-right: 14px;
}

.auth-content input::placeholder {
  color: var(--light-border-n-text-color);
}

.signup-btn {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 14px;

  color: var(--light-header-bg-color);

  background-color: var(--light-border-n-text-color);
  border: transparent;
  border-radius: 40px;
  transition: background-color var(--animation-slow);

  cursor: pointer;
}

.signup-btn:hover,
.signup-btn:focus {
  background-color: var(--light-accent-color);
}

.signup-btn:active {
  color: var(--light-border-n-text-color);
  background-color: var(--light-accent-color-2);
}

.auth-form-linksBtn{
  color: #11111180;
}

.auth-form-linksBtn:not(:last-child) {
  margin-right: 20px;
}

.auth-form-linksBtn.active {
  text-transform: uppercase;
  text-decoration: underline;
  color: var(--light-accent-color);
}
