body {
  font-family: var(--font-main);
  font-size: 18px;
  overflow-x: hidden;
}

// скидання налаштувань браузера
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

// базові параметри зображень
img {
  display: block;
  width: 100%;
  border-radius: 8px;
}

// приховування тексту
.hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// налаштування контейнерів
@media screen and (min-width: 300px) {
  .container {
    display: flex;
    flex-direction: row;
    outline: 1px solid red;
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
