// позиціонування полів форми для таблет та десктоп через opacity зго поля
.room-form>.wrapper>.form-field:nth-child(3) {
    pointer-events: none;
    opacity: 0;

    @media screen and (max-width: 1023.98px) {
        display: none;
    }
}

.room-form>.wrapper>.form-field>.input {
    appearance: none;
}

.select .item {
    background-color: var(--accent-background);

    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    letter-spacing: 0.05em;
    color: #808080;
    outline: none;
}

.select > .input::after {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, 65%);
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: var(--accent-background);
    background-image: url(../images/arrow-down.svg);
    background-size: contain;
    pointer-events: none;

    @media screen and (min-width: 1024px) {
        transform: translate(-64%, 84%);        
    }
}