// базове оформлення кнопок ЗАБРОНЮВАТИ, ПЕРЕГЛЯНУТИ, ДЕТАЛЬНІШЕ та кнопки Забронювати столик, Забронювати номер
.btn {
    padding: 14px 24px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--color-text-btn);

    background-color: var(--color-btn);
    border: 2px solid var(--text-color-bg);
    border-radius: 25px;
    cursor: pointer;

    transition: background-color var(--transition-fast),
        border-color var(--transition-fast);
}

.btn:hover,
.btn:focus,
.btn:active,
.btn-black:hover,
.btn-black:focus,
.btn-black:active {
    background-color: var(--text-color-bg);

    border-color: var(--color-text-btn);
}

// кнопка з чорним фоном
.btn-black {
    background-color: var(--footer-background);
}

// оформлення кнопки ПЕРЕГЛЯНУТИ МЕНЮ
.btn-look-menu {
    padding-left: 32px;
    padding-right: 32px;
}

// оформлення кнопки ПЕРЕГЛЯНУТИ ЦІНУ
.btn-look-price {
    padding-left: 37px;
    padding-right: 37px;
}

// оформлення кнопки ДЕТАЛЬНІШЕ
.btn-details {
    padding-left: 64px;
    padding-right: 64px;
}

// кнопка бронювання
.btn-booking {
    // padding: 20px 43px;

    // для mobile page room
      padding: 20px 41px;

    font-family: inherit;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--text-color-bg);

    background-color: var(--footer-background);
    border: 1px solid var(--color-text-btn);
    border-radius: 25px;
    cursor: pointer;

    transition: background-color var(--transition-fast),
        border-color var(--transition-fast);
}

.btn-booking:hover,
.btn-booking:focus,
.btn-booking:active {
    color: var(--footer-background);
    background-color: var(--color-text-btn);
}

@media screen and (min-width: 414px) {
    .btn-booking {
        font-size: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .btn-booking {
        padding: 18px 38px;
        font-size: 24px;
    }
}

// кнопка бронювання квадратна для модалки .btn-booking +
.btn-modal {
    border-radius: 2px;
}

@media screen and (min-width: 1024px) {
    .btn-modal {
        padding-left: 117px;
        padding-right: 117px;
    }
}
