

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 8px 8px 0px 0px;
  border: 1.5px solid #111111;
  background: linear-gradient(
    274.8deg,
    #5737e9 -7.81%,
    rgba(160, 142, 242, 0.76) 61.58%,
    #b5a7f5 81.74%
  );
      // background-color: var(--light-header-bg-color);

}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media screen and (min-width: 1440px) {
  .footer {
    // background-color: var(--light-header-bg-color);
    // background: linear-gradient(274.8deg, #5737E9 -7.81%, rgba(160, 142, 242, 0.76) 61.58%, #B5A7F5 81.74%);
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.footer .container {
  display: block;
}
.footer-social-wrapper {
  width: 70%;
  // margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .footer-social-wrapper {
  width: 23%;
  }
}
@media screen and (min-width: 1440px) {
  .footer-social-wrapper {
    width: 23%;
  }
}
.footer-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media screen and (min-width: 768px) {
  .footer-content {
    display: flex;
      flex-direction: row;
      gap:0;
    justify-content: space-between;
        min-height: 172px;

    // gap: 150px;
    // margin-bottom: 20px;
  }
}


@media screen and (min-width: 1440px) {
  .footer-content {
    display: flex;
    // gap: 150px;
    margin-bottom: 10px;
    min-height: 113px;
  }
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 8px;
  letter-spacing: -0.04em;

  color: var(--light-nav-text-color);
  font-weight: 500;
}
.footer .logo-link {
  margin-bottom: 20px;
  font-size: 20px;
}
.footer-description {
  letter-spacing: -0.04em;
  // margin-bottom: 20px;
}
@media screen and (min-width: 1440px) {
  .footer-description {
    margin-left: 10px;
  }
}

.footer .shopping-link {
  padding: 7px 16px;
    margin-top: 20px;

  // display: inline-flex;
  display: none;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 600;

  line-height: 1.28;
  letter-spacing: -0.04em;
  border-radius: 36px;
  background: #eac645;

  color: var(--light-border-n-text-color);
  transition: all 300ms linear;

}


.footer .shopping-link:hover,
.footer .shopping-link:focus {
  background-color:#fff1bd;
}

.shopping-bag-icon {
  line-height: 0;

  transition: 300ms linear;
}
@media screen and (min-width: 1440px) {
 .shopping-link {
  padding: 7px 16px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;

  line-height: 1.28;
  letter-spacing: -0.04em;
  border-radius: 36px;

  color: var(--light-border-n-text-color);
  transition: background-color 500ms linear, font-weight 300ms linear;
}}
.social-list {
  display: flex;
  gap: 10px;
}

.social-item {
  width: 40px;
  height: 40px;
}
.social-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #5737e9;
  justify-content: center;
  align-items: center;

  transition: background-color var(--transition-dur-and-func);
}

.social-link:hover,
.social-link:hover {
  background-color: var(--accent-color-darker);
}

.rights-reserved {
  text-align: center;
  // width: 200px;
  margin: 0 auto;
  margin-top: 30px;
}
@media screen and (min-width: 1440px) {
  .rights-reserved {
    width: 200px;
    margin: 0 auto;
  }
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  // opacity: 0;
  transition: all 500ms linear;
}
.card-list.animation-appear {
  opacity: 1;
  transition: all 500ms linear;
}
@media screen and (min-width: 768px) {
  .card-list {
    // height: 60%;
    flex-basis: 50%;
      gap: 6px;
    justify-content: center;
    align-items: flex-end;
  }
}
@media screen and (min-width: 1440px) {
  .card-list {
    // flex-basis: 35%;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
          gap: 15px;

  }
}
.card-item {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #4f2ee8;
  border: 5px solid rgba(255, 255, 255, 0.5);
  transition: opacity 300ms linear, visibility 300ms linear,
    background-color 300ms linear;
  overflow: hidden;
  transform: scale(1);

  transition: transform 300ms linear, border 500ms linear;
  cursor: pointer;
}
.card-item:hover {
  transform: scale(1.2);
    border: 5px solid #4f2ee8;

}
@media screen and (min-width: 1440px) {
.card-item {
  width: 75px;
  height: 75px;

}
}
.button-group-logo {
  padding: 0;
  display: flex;
  gap: 15px;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;

  transition: all 300ms linear;
}

// .button-group-logo:hover,
// .button-group-logo:hover {
//  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);}
.img-group-logo {
    transform: scale(1);
  transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.img-group-logo:hover {
  transform: scale(1.2);
}
.img-pixel-cake {
  width: auto;
}
.group-logo-icon {
  transform: rotate(-90deg);
  fill: #4f2ee8;
  stroke: #4f2ee8;

  transition: all 400ms linear;
}
.group-logo-icon:hover {
  fill: #5737e9;
}
.group-logo-icon.return-check {
  fill: white;
  stroke: white;

  transform: rotate(90deg);
}
.footer-group-logo-wrapper {
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

@media screen and (min-width: 1440px) {
.footer-group-logo-wrapper {
flex-basis: 15%;
}
}
.our-team {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;

  transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
@media screen and (min-width: 768px) {
.our-team {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;

  transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
}
@media screen and (min-width: 1440px) {

}
@media screen and (min-width: 768px) and (max-width: 1439px) {
.card-list-wrapper {
width: 50%;
}
}

