// ==========МОБІЛЬНА ВЕРСІЯ========//
.header {
  position: absolute;
  width: 100vw;
  z-index: 100;
  top: 0;
  right: 0;

  padding-top: 17px;
  padding-bottom: 16px;

  border: 1.5px solid #111111;
  border-radius: 0px 0px 8px 8px;

  background-color: var(--light-header-bg-color);
}
.header-container {
  display: flex;
  align-items: center;
}
.logo-link {
  display: flex;
  align-items: center;
  gap: 8px;
  letter-spacing: -0.04em;

  color: var(--light-nav-text-color);
  font-weight: 500;
}
.burger-menu {
  background-color: transparent;
  border: none;
  line-height: 0;
  padding: 0;
}
.burger-logo {
  stroke: black;
}
.navigation {
  display: none;
}
.user-login {
  display: none;
}
// ==========ПЛАНШЕНТА ВЕРСІЯ==========//
@media screen and (min-width: 768px) {
  .header {
    padding-top: 11px;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
  .navigation {
    display: block;
  }
  .logo-link {
    margin-right: 28px;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
@media screen and (min-width: 768px) {
  .home-link {
    padding: 8px 16px;
    display: inline-flex;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.04em;
    font-weight: 500;

    border-radius: 36px;
    color: var(--light-border-n-text-color);
    transition: background-color 500ms linear;
  }
  .home-link:hover,
  .home-link:hover {
    background-color: #eac645;
  }
}
@media screen and (min-width: 768px) {
  .shopping-link {
    padding: 7px 16px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;

    line-height: 1.28;
    letter-spacing: -0.04em;
    border-radius: 36px;

    color: var(--light-border-n-text-color);
    transition: 500ms linear;
  }
  .shopping-link:hover,
  .shopping-link:hover {
    background: #eac645;
  }
  .shopping-bag-icon {
    line-height: 0;
  }
}

@media screen and (min-width: 768px) {
  .user-login {
    width: 184px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 14px 12px;
    background: var(--dark-accent-color);
    cursor: pointer;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;

    color: var(--dark-border-n-text-color);
    border: 1.5px solid #111111;
    border-radius: 18px;

    // font-weight: 700;
    // font-size: 22px;
    // letter-spacing: -0.02em;
    // border-radius: 36px;
    // border: transparent;

  }

  .icon-arrow-right {
    stroke: #eac645;
  }
  .icon-user-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 9px;
    width: 37px;
    height: 37px;
    background: #f6f6f6;
    border-radius: 50%;
  }
  .icon-registration-triangle {
    margin-left: 4px;
  }
}

// ==========МОБІЛЬНЕ МЕНЮ========//

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: relative;
    // z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(
      183.6% 183.01% at 59.76% -23.42%,
      #4f2ee8 18.03%,
      #ffffff 100%
    );
    transition: 250ms linear;
  }

  .icon-close-mobile-menu,
  .icon-burger-mobile-menu {
    transition: opacity 500ms linear;
  }
  .nav-list-mobile {
    // display: flex;
    // padding-top: 183px;
  }
  .user-login-mobile {
    display: flex;
    align-items: center;
    padding-top: 84px;

    font-weight: 700;
    font-size: 22px;
    line-height: 1.32;

    letter-spacing: -0.02em;

    color: #ffffff;
  }
  .icon-user-wrapper-mobile {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 9px;
    width: 37px;
    height: 37px;
    background: #f6f6f6;
    border-radius: 50%;
  }

  .nav-mobile-wrap {
    margin-left: auto;
    margin-right: auto;
    margin-top: 126px;
    max-width: 130px;
  }
  .nav-item-mobile:not(:last-child) {
    margin-bottom: 16px;
  }
  .shopping-link-mobile {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .shopping-bag-icon-mobile {
    fill: var(--dark-border-n-text-color);
  }
  .home-link-mobile,
  .shopping-link-mobile {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;

    letter-spacing: -0.04em;
    text-transform: uppercase;

    color: var(--dark-border-n-text-color);
  }
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.is-hidden-modal {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

// =========ДЕСКТОПНА ВЕРСІЯ===========//

@media screen and (min-width: 1440px) {
  .logo-link {
    margin-right: 76px;
  }
}
// перемикач теми
.switch {
  margin-left: auto;
  margin-right: 14px;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
@media screen and (min-width: 768px) {
  .switch {
    margin-right: 24px;
  }
}
.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: 400ms;
  transition: 400ms;
}

.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 1px;
  top: 1px;
  background-color: white;
  -webkit-transition: 400ms;
  transition: 400ms;
}

input:checked + .slider,
input:checked + .slider {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

.dark {
  background-color: blue;
}
