// ==========МОБІЛЬНА ВЕРСІЯ========//

.header {
  position: sticky;
  width: 100vw;
  z-index: 100;
  top: 0;
  right: 0;
  padding-top: 17px;
  padding-bottom: 16px;

  border: 1.5px solid #111111;
  border-radius: 0px 0px 8px 8px;

  background-color: var(--light-header-bg-color);
  transition: background-color 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header-container {
  display: flex;
  align-items: center;
}
.logo-link {
  display: flex;
  align-items: center;
  gap: 8px;
  letter-spacing: -0.04em;

  color: var(--light-nav-text-color);
  font-weight: 500;
}
.burger-menu {
  background-color: transparent;
  border: none;
  line-height: 0;
  padding: 0;
}
.burger-logo {
  stroke: black;
}
.navigation {
  display: none;
}
.user-login {
  display: none;
}
// ==========ПЛАНШЕНТА ВЕРСІЯ==========//
@media screen and (min-width: 768px) {
  .header {
    padding-top: 11px;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
  .navigation {
    display: block;
  }
  .mobile-menu {
    display: none;
  }
  .logo-link {
    margin-right: 28px;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
@media screen and (min-width: 768px) {
  .home-link {
    padding: 8px 16px;
    display: inline-flex;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.04em;
    font-weight: 500;

    border-radius: 36px;
    color: var(--light-border-n-text-color);
    transition: background-color 500ms linear, font-weight 300ms linear;
  }
  .home-link:hover,
  .home-link:hover {
    background-color: #eac645;
    font-weight: 700;
    transition: font-weight 300ms linear;
  }
}
@media screen and (min-width: 768px) {
  .shopping-link {
    padding: 7px 16px;
    display: inline-flex;
    // display: none;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;

    line-height: 1.28;
    letter-spacing: -0.04em;
    border-radius: 36px;

    color: var(--light-border-n-text-color);
    transition: background-color 500ms linear, font-weight 300ms linear;
  }
  .shopping-link:hover,
  .shopping-link:hover {
    background: #eac645;
    // font-weight: 700;
  }
  .shopping-bag-icon {
    line-height: 0;
  }
}


@media screen and (min-width: 768px) {
  .user-login {
    width: 184px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 14px 12px;
    background: var(--dark-accent-color);
    cursor: pointer;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;

    color: var(--dark-border-n-text-color);
    border: 1.5px solid #111111;
    border-radius: 18px;
    transition: background-color 300ms linear;
  }
  .user-login:hover,
  .user-login:focus {
    background-color: #37209d;
  }

  .icon-arrow-right {
    stroke: #eac645;
  }
  .icon-user-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 9px;
    width: 37px;
    height: 37px;
    background: #f6f6f6;
    border-radius: 50%;

    flex-shrink: 0;
  }
  .icon-registration-triangle {
    margin-left: 4px;
  }
}

.user-login.is-hidden {
  display: none;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.header-profile-block.is-hidden {
  display: none;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

// ==========МОБІЛЬНЕ МЕНЮ========//

@media screen and (max-width: 767px) {
  .mobile-menu-container {
    height: 100vh;
    width: 100vw;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-top: 84px;
    padding-bottom: 20px;
  }

  .loged-in-wrapper {
    // height: 100%;
  }
  .mobile-menu-home-wrap {
    //   display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // align-items: start;
  }
  .mobile-menu {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: url('../img/group-of-books.png'),
      radial-gradient(
        183.6% 183.01% at 59.76% -23.42%,
        #4f2ee8 18.03%,
        #ffffff 100%
      );
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    // transform: translateY(0%);

    transition: 300ms linear;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .mobile-menu {
      background: url('../img/group-of-books@2x.png'),
        radial-gradient(
          183.6% 183.01% at 59.76% -23.42%,
          #4f2ee8 18.03%,
          #ffffff 100%
        );
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: contain;
    }
  }
  .icon-close-mobile-menu,
  .icon-burger-mobile-menu {
    transition: opacity 500ms linear;
  }

  .user-sign-up-mobile {
    margin-top: 104px;
    width: 184px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 14px 12px;
    background: var(--dark-accent-color);
    cursor: pointer;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;

    color: var(--dark-border-n-text-color);
    border: 1.5px solid #111111;
    border-radius: 18px;

    transition: 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .icon-arrow-right {
    stroke: #eac645;
  }

  // користувач залогінений стилі
  .loged-in-wrapper {
    width: 100%;
  }
  .user-login-mobile {
    display: inline-flex;
    align-items: center;
    margin-bottom: 126px;

    font-weight: 700;
    font-size: 22px;
    line-height: 1.32;
    letter-spacing: -0.02em;
    color: #ffffff;
  }

  .icon-user-wrapper-mobile {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 9px;
    width: 37px;
    height: 37px;
    background: #f6f6f6;
    border-radius: 50%;
  }

  .nav-list-mobile {
    margin-left: auto;
    margin-right: auto;
    max-width: 150px;
  }
  .nav-item-mobile:not(:last-child) {
    margin-bottom: 8px;
  }

  .shopping-bag-icon-mobile {
    fill: var(--dark-border-n-text-color);
    transition: 400ms linear;
  }

  .home-link-mobile,
  .shopping-link-mobile {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    padding: 7px 16px;

    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: var(--dark-border-n-text-color);
    border-radius: 36px;
    transition: 400ms linear;
  } 
 .home-link-mobile {
  background-color:#eac645;
  color: #111;
 }
   .shopping-link-mobile {
    display: flex;
    align-items: center;
    gap: 4px;
    padding-left: 0;
    padding-right: 0;
  }
  .shopping-link-mobile:hover,
  .home-link-mobile:hover,
  .shopping-link-mobile:focus,
  .home-link-mobile:focus {
    color: var(--light-border-n-text-color);
    background-color: var(--light-accent-color-2);
  }
  .shopping-link-mobile:hover .shopping-bag-icon-mobile,
  .shopping-link-mobile:focus .shopping-bag-icon-mobile {
    fill: #111111;
  }
  .log-out-mobile {
    display: flex;
    align-items: center;
    gap: 4px;
    min-width: 118px;
    padding: 12px 24px;
    background: #ffffff;
    cursor: pointer;
    border: 1.5px solid #111111;
    border-radius: 18px;
    color: var(--light-border-n-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;

    letter-spacing: -0.04em;

    color: #111111;
  }
}
// користувач залогінений стилі

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.is-hidden-modal {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  //   transform: translateY(-100%);
}

// =========ДЕСКТОПНА ВЕРСІЯ===========//

@media screen and (min-width: 1440px) {
  .logo-link {
    margin-right: 76px;
  }
}

// перемикач теми
.switch {
  margin-left: auto;
  margin-right: 14px;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
@media screen and (min-width: 768px) {
  .switch {
    margin-right: 24px;
  }
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: 400ms;
  transition: 400ms;
}

.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 1px;
  top: 1px;
  background-color: white;
  -webkit-transition: 400ms;
  transition: 400ms;
}

input:checked + .slider,
input:checked + .slider {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

.header-profile-wrapper {
  display: none;
  position: relative;

  @media screen and (min-width: '768px') {
    display: block;
  }
  // overflow: hidden;
}

.header-profile-wrapper.is-hidden {
  display: none;
}

.header-profile-block {
  padding-left: 12px;
  padding-right: 12px;
  min-width: 184px;
  height: 45px;

  display: flex;
  // justify-content: center;
  align-items: center;

  background-color: var(--light-accent-color);
  border-radius: 36px;

  // overflow: hidden;
}

.header-profile-block p {
  font-family: 'DM Sans';
  // font-weight: 700;
  font-size: 20px;
  line-height: 1.32;
  letter-spacing: -0.02em;
  color: var(--light-header-bg-color);
}

.header-profile-wrapper .user-logout {
  padding: 13px 14px 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 184px;

  display: none;
  // display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--light-border-n-text-color);
  letter-spacing: -0.04em;
  background: #fff;
  border: 1.5px solid #111;
  border-radius: 18px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;

  overflow: hidden;
  cursor: pointer;
}

.header-profile-wrapper .user-logout.active {
  display: flex;
  max-height: 100%;
  transform: translateY(100%);
}

.header-profile-block.user-login-mobile {
  background-color: transparent;
}

.user-sign-up-mobile.is-hidden,
.loged-in-wrapper.is-hidden {
  display: none;
}

.nav-item#header-shopping-link {
  display: none;
}

.dark {
  background-color: var(--dark-body-color);
  color: var(--dark-border-n-text-color);
}
body.dark .header,
body.dark .footer {
  background-color: black;
  color: #ffffff;
  border: 1.5px solid #ffffff;
}
body.dark .logo-link,
body.dark .home-link,
body.dark .shopping-link,
body.dark .shopping-bag-icon,
body.dark .burger-logo {
  color: #ffffff;
  fill: #ffffff;
  stroke: #ffffff;
}

body.dark .shopping-link:hover,
body.dark .shopping-link:focus,
body.dark .shopping-link:hover .shopping-bag-icon,
body.dark .shopping-link:focus .shopping-bag-icon,
body.dark .home-link:hover,
body.dark .home-link:focus {
  color: #111111;
  fill: #111111;
  stroke: #111111;
}

body.dark .category {
  color: rgba(255, 255, 255, 0.6);
}

body.dark .category:hover,
body.dark .category:focus,
body.dark .category.category-active {
  color: #eac645;
}

body.dark .category-title,
body.dark .book-name,
body.dark .button-see-more {
  color: var(--dark-border-n-text-color);
}

body.dark .auth-form {
  background-color: #202024;
  color: #f6f6f6;
  border: 2px solid #f6f6f6;
}

body.dark .auth-content input {
  background-color: #202024;
  outline: 2px solid #f6f6f6;
  color: #f6f6f6;
}
body.dark .auth-content input::placeholder {
  color: #f6f6f6;
}

body.dark .auth-form-cross-icon {
  stroke: #f6f6f6;
}
body.dark .signup-btn {
  background-color: #f6f6f6;
  color: #202024;
}

body.dark .signup-btn:hover,
body.dark .signup-btn:focus,
body.dark .form__button:hover,
body.dark .form__button:focus {
  background-color: var(--light-accent-color);
  color: #f6f6f6;
}

body.dark .auth-form-cross-icon:hover,
body.dark .auth-form-cross-icon:focus {
  stroke: var(--light-accent-color);
}
body.dark .auth-form-linksBtn {
  color: var(--dark-header-secondary-color);
}

body.dark .auth-form-linksBtn.active {
  color: var(--light-accent-color);
}

body.dark .footer,
body.dark .shopping-list-item {
  background: black;
}

body.dark .modal {
  background-color: #202024;
  border: 2px solid #ffffff;
}

body.dark .modal-name,
body.dark .book-description,
body.dark .form__button,
body.dark .added-text {
  color: #ffffff;
}

body.dark .form__button {
  background-color: #202024;
}

body.dark .shops-item-icon.amazon-img {
  filter: contrast(0);
}

body.dark .icon-close-modal-book {
  stroke: #ffffff;
}

body.dark .wrapper-input svg {
  stroke: #fff;
  fill: #202024;
}

body.dark .form__button[disabled],
body.dark .form__button[disabled]:hover,
body.dark .form__button[disabled]:focus {
  background-color: transparent;
  border: 2px solid rgba(175, 175, 175, 0.4);
  color: rgba(175, 175, 175, 0.4);
}