.header {
  position: fixed;
  z-index: 100;
  width: 100%;

  backdrop-filter: blur(0.8px);
  background: linear-gradient(
    180deg,
    #000000 10%,
    rgba(0, 0, 0, 0.55) 70.3%,
    rgba(0, 0, 0, 0) 100%
  );
}

// позиціонування header
.header-wrapper {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 1024px) {
  .header-wrapper {
    padding-top: 24px;
    padding-bottom: 33px;
  }
}

// стилізація логотип-посилання
.header-logo {
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 36px;
  line-height: calc(39 / 36);
  letter-spacing: 0.3em;
  color: var(--text-color-bg);
  padding-right: 0;
  margin-right: 0;
}

@media screen and (min-width: 1024px) {
  .header-logo {
    font-size: 40px;
    line-height: calc(43 / 40);
  }
}

// центрування навігаційного блоку
.nav {
  margin-left: auto;
}

@media screen and (min-width: 1280px) {
  .nav {
    margin-right: auto;
  }
}

// позиціонування навігаційного блоку
.nav__list {
  display: flex;
}

.nav__item {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 371px) {
  .nav__item:first-child {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .nav__item:first-child {
    margin-right: 72px;
  }
}

// стилізація елементів навігаційного блоку
.nav__link-page {
  margin-right: 6px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  color: var(--color-text-btn);

  transition: color var(--transition-fast);
}

@media screen and (min-width: 1024px) {
  .nav__link-page {
    margin-right: 32px;

    font-size: 20px;
    line-height: calc(24 / 20);
  }
}

.nav__link-page:hover,
.nav__link-page:focus,
.nav__link-page:active {
  color: var(--style-text-color);
}

.nav__phone {
  display: flex;
  align-items: center;
  padding: 0;
  fill: var(--color-text-btn);

  transition: fill var(--transition-fast);
}

@media screen and (min-width: 1024px) {
  .nav__phone {
    padding: 8px;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
  }
}

// стилізація посилань на соціальні мережі
.nav__phone:hover,
.nav__phone:focus,
.nav__phone:active {
  fill: var(--style-text-color);
  border-color: var(--style-text-color);
}

.nav__phone:hover span,
.nav__phone:focus span,
.nav__phone:active span {
  color: var(--footer-allelement-color);
}

@media screen and (max-width: 1023px) {
  .phone-number {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .phone-number {
    margin-left: 8px;

    font-weight: 400;
    font-size: 14px;
    line-height: calc(17 / 14);
    align-items: center;
    letter-spacing: 0.02em;
    color: var(--text-color-bg);

    transition: color var(--transition-fast);
  }
}

// позиціонування списку посилань на соціальні мережі
@media screen and (max-width: 1279px) {
  .header__social-list {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .header__social-list {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

// стилізація елементів списку посилань на соціальні мережі
.social-icon {
  fill: var(--color-text-btn);
}

.social-icon:hover,
.social-icon:focus,
.social-icon:active {
  fill: var(--style-text-color);
}

// окрема стилізація для маленьких екранів
@media screen and (max-width: 370px) {
  .nav__list {
    flex-direction: column;
    align-items: flex-end;
  }

  .nav__item:first-child {
    margin-bottom: 8px;
    margin-right: 0;
  }
}
