@media screen and (min-width: 1024px) {
  .menu-section {
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .first-menu-colomn {
    width: 411px;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1280px) {
  .first-menu-colomn {
    width: 485px;
    margin-right: 140px;
  }
}

@media screen and (min-width: 1024px) {
  .second-menu-colomn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 430px;
  }
}

@media screen and (min-width: 1280px) {
  .second-menu-colomn {
    width: 485px;
  }
}

.button-menu {
  margin-left: 74px;
  margin-top: 32px;
  color: var(--footer-allelement-color);
  width: 236px;
  height: 48px;
  background: #000000;
  border: 2px solid var(--accent-background);
  border-radius: 25px;

  font-family: var(--font-main);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1024px) {
  .button-menu {
    margin-left: 694px;
    margin-top: 41px;
  }
}

@media screen and (min-width: 1280px) {
  .button-menu {
    margin-left: 874px;
    margin-top: 32px;
  }
}

.menu-place {
  background-color: var(--menu-background);
}

.menu-height {
  padding-top: 32px;
  padding-bottom: 32px;
}

@media screen and (min-width: 1024px) {
  .menu-height {
    padding-top: 58px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .menu-height {
    padding-bottom: 60px;
  }
}

.menu_title {
  margin-bottom: 32px;

  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  color: #000000;
}

@media screen and (min-width: 1024px) {
  .menu-title {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.menu-list {
  display: flex;
}

.course-container {
  left: 0px;
}

@media screen and (min-width: 1280px) {
  .course-container {
    width: 257px;
    margin-right: 63px;
  }
}

.menu-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-menu-section {
  background-color: var(--menu-background);
}

.menu-header {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;

  color: var(--footer-background);

  padding-top: 58px;
  margin-bottom: 40px;
}

.menu-title {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  color: var(--footer-background);

  margin-bottom: 16px;
}

.menu-course-title {
  width: 220px;
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;

  color: var(--footer-background);

  margin-bottom: 4px;
  margin-top: 4px;
}

@media screen and (min-width: 1024px) {
  .menu-course-title {
    width: 100%;
  }
}

.menu-course-title-dessert {
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;

  color: var(--footer-background);

  margin-bottom: 8px;
  /* margin-right: 60px; */
}

.menu-course-composition {
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.02em;

  color: var(--footer-background);

  width: 210px;
  margin-bottom: 12px;
}

@media screen and (min-width: 1024px) {
  .menu-course-composition {
    width: 216px;
  }
}

@media screen and (min-width: 1280px) {
  .menu-course-composition {
    width: 257px;
  }
}

.menu-course-weight {
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: 36px;

  color: var(--footer-background);
}

.menu-course-price {
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;

  color: var(--footer-background);
}

@media screen and (min-width: 1024px) {
  .chiken {
    width: 220px;
  }
}

// окрема стилізація для маленьких екранів
@media screen and (max-width: 370px) {
  .menu_title {
    font-size: 30px;
  }

  .menu-title {
    font-size: 22px;
  }

  .menu-course-title,
  .menu-course-title-dessert,
  .menu-course-price {
    font-size: 12px;
  }

  .menu-course-composition {
    font-size: 8px;
  }

  .menu-course-weight {
    font-size: 10px;
    margin-right: auto;
    text-align: end;
    margin-right: 10px;
  }

    .button-menu{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

}
