.modal {
  position: absolute;
  padding: 40px;
  top: 60;
  left: 0;
  width: 100vw;
  height: 100vmax;
  border: 2px solid #111111;
  border-radius: 18px;
  background-color: #ffffff;

  @media screen and (min-width: 768px) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 580px;
    height: 465px;
  }

  &__icon {
    position: absolute;
    top: 7px;
    right: 7px;
    cursor: pointer;
    transition: fill 250ms black;
  }
}

.img {
  max-width: 100%;
  height: 408px;
}

@media screen and (min-width: 768px) {
  .img {
    width: 192px;
    height: 281px;
  }
}

.modal-name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(18 / 16);
  letter-spacing: -0.04em;
  color: var(--dark-header-bg-color);
}

@media screen and (min-width: 768px) {
  .modal-name {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: calc(28 / 24);
  }
}

.modal-author {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: -0.04em;
  color: var(--dark-header-secondary-color);
}

@media screen and (min-width: 768px) {
  .modal-author {
    font-size: 14px;
    line-height: calc(18 / 14);
  }
}

.wrapper-modal-data {
  display: flex;
  gap: 24px;
}
.description {
  margin-top: 18px;
  height: 70px;
  width: 100%;
  margin-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .description {
    margin-top: 20px;
    height: 70px;
    width: 100%;
    margin-bottom: 20px;
  }
}

.book-description {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  color: var(--dark-header-bg-color);
}

.link-list {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buy-link {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  color: var(--dark-header-bg-color);
}

.backdrop {
  background-color: rgba(17, 17, 17, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: opacity 250ms, visibility 250ms;
  transition-duration: 250ms;
}

.form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 52px;
  border: 2px solid #4f2ee8;
  border-radius: 40px;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.01em;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .form__button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    font-size: 18px;
    line-height: calc(24 / 18);
  }
}

.form__button:hover,
.form__button:focus {
  background: #4f2ee8;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);
  border-radius: 40px;
  color: #ffffff;
}
