.book-room-modal {
  height: 572px;

  @media screen and (min-width: 1024px) {
    height: 489px;
  }
}
.price-form {
  height: 472px;
}

.close-modal {
  width: 100%;
  height: 100%;
}

.select {
  position: relative;
  display: block;

  width: 100%;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.05em;

  color: var(--text-color-gray);
  background-color: var(--accent-background);
  outline: none;
}

.form-field {
  width: 288px;

  @media screen and (max-width: 1023.98px) {
    width: 100%;
  }
}

.wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}

// Через те що у формі бронювання кімнати 3тє поле приховано примусово його показуємо, для цього пишемо складний селектор
.price-form > .wrapper > .form-field:nth-child(3) {
  display: block;
  opacity: 1;
}

.price-form > .wrapper > .form-field:nth-child(n + 2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 8px;
  height: 82px;
}

.price-form > .wrapper > .form-field:nth-child(2) {
  display: block;
  opacity: 0;
  pointer-events: none;

  @media screen and (max-width: 1023.98px) {
    display: none;
  }
}

.price-form-category {
  margin-bottom: 28px;
}

// Відповідно до макету прибираємо відступ лише у цього (першого в модальному вікні) label
.price-form > .wrapper > .form-field:first-child > .area-name {
  margin-left: 0;
}

.price-form-category {
  width: 100%;
  height: 28px;

  margin-bottom: 28px;

  font-family: var(--font-main);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: var(--text-color-gray);
  border: 1px solid transparent;
  background-color: var(--accent-background);
  appearance: none;
}

.price-form .input {
  padding: 15px 12px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;

  letter-spacing: 0.05em;
  color: var(--text-color-gray);

  background-color: transparent;
  border: 1px solid var(--style-text-color);
  border-radius: 2px;
  appearance: none;
}

.price-form .area-name {
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--style-text-color);
}
