.hotel__room-luxe {
  background-color: var(--accent-background);
  padding-top: 32px;
  padding-bottom: 32px;
}

@media screen and (min-width: 1024px) {
  .hotel__room-luxe {
    padding-top: 62px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .hotel__room-luxe {
    padding-top: 72px;
  }
}

.hotel__room-luxe__container {
  position: relative;
  min-height: 1050px;
}

@media screen and (max-width: 1023px) {
  .hotel__room-luxe__container {
    overflow: hidden;
  }
}

@media screen and (min-width: 1024px) {
  .hotel__room-luxe__container {
    min-height: 736px;
  }
}

@media screen and (min-width: 1280px) {
  .hotel__room-luxe__container {
    min-height: 844px;
  }
}

// Mobile
.hotel__room-luxe__top-text {
  font-family: var(--font-secondary);
  color: #b4b4b4;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
}

@media screen and (min-width: 1024px) {
  .hotel__room-luxe__top-text {
    font-size: 32px;
  }
}

.hotel__room-luxe__logo {
  font-family: var(--font-logo);
  letter-spacing: 0.3em;
  color: var(--title-text-color);
  margin-top: 8px;
  margin-bottom: 32px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.075;
}

@media screen and (min-width: 1024px) {
  .hotel__room-luxe__logo {
    font-size: 64px;
    margin-top: 4px;
    margin-bottom: 62px;
  }
}

@media screen and (min-width: 1280px) {
  .hotel__room-luxe__logo {
    margin-bottom: 72px;
  }
}

.hotel__room-luxe__title {
  font-family: var(--font-secondary);
  letter-spacing: 0.05em;
  font-size: 6vw;
  font-weight: 700;
  line-height: 1.16667;
  margin: 0 0 12px 0;
}

@media screen and (min-width: 414px) {
  .hotel__room-luxe__title {
    font-size: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .hotel__room-luxe__title {
    font-size: 30px;
    margin: 0 0 16px 0;
  }
}

@media screen and (min-width: 1280px) {
  .hotel__room-luxe__title {
    font-size: 36px;
    margin: 0 0 24px 0;
  }
}

.hotel__room-luxe__text {
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #5f5f5f;
  max-width: 258px;
  margin-bottom: 32px;
}

@media screen and (min-width: 1024px) {
  .hotel__room-luxe__text {
    font-size: 16px;
    max-width: 439px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .hotel__room-luxe__text {
    max-width: 400px;
  }
}

.hotel__room-luxe__picture img {
  border-radius: 2px;
  box-shadow: 2px 2px 60px 2px #00000040;
}

    .hotel__room-luxe__picture {
      position: absolute;
      top: 254px;
      left: 61px;
    }

@media screen and (min-width: 414px) {
  .hotel__room-luxe__picture {
        left: 155px;
    }
}

@media screen and (min-width: 1024px) {
  .hotel__room-luxe__picture {
    position: absolute;
    top: -94px;
    left: 512px;
  }
}

@media screen and (min-width: 1280px) {
  .hotel__room-luxe__picture {
    position: absolute;
    top: -105px;
    left: 640px;
  }
}

.hotel__room-luxe_btn {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 16px;
  bottom: 0;
  left: 41px;
}

@media screen and (min-width: 414px) {
  .hotel__room-luxe_btn {
    left: 95px;
  }
}

@media screen and (min-width: 1024px) {
  .hotel__room-luxe_btn {
    bottom: 105px;
    left: 741px;
  }
}

@media screen and (min-width: 1280px) {
  .hotel__room-luxe_btn {
    bottom: 142px;
    left: 959px;
  }
}

.btn-details{
  display: block;
}

// позиціонування контейнер слайдеру
.swiper-container_room-2 {
  display: flex;
  position: absolute;
  bottom: 184px;
  right: 130px;
  gap: 16px;
}

@media screen and (min-width: 1024px) {
  .swiper-container_room-2 {
    position: absolute;
    bottom: 64px;
    right: 549px;
    gap: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .swiper-container_room-2 {
    bottom: 72px;
    right: 647px;
  }
}

// налаштування розмірів слайдеру для mobile
.swiper-fix {
  height: 245px;
  width: 515px;
}

@media screen and (min-width: 1024px) {
  .swiper-fix {
    height: 194px;
    width: 428px;
  }
}

@media screen and (min-width: 1280px) {
  .swiper-fix {
    height: 254px;
    width: 548px;
  }
}

// стилізація зображень слайдеру
.swiper-slide img {
  border-radius: 2px;
  width: 100%;
}

// позиціонування нових кнопок слайдера
.swiper-btn-wrapper_room-lux {
  position: absolute;
  display: flex;
  gap: 32px;
  bottom: 132px;
}

@media screen and (min-width: 1024px) {
  .swiper-btn-wrapper_room-lux {
    bottom: 0;
    left: 377px;
  }
}

@media screen and (min-width: 1280px) {
  .swiper-btn-wrapper_room-lux {
    left: 542px;
  }
}

// стилізація нових кнопок слайдера
.js-swiper4-button-next,
.js-swiper4-button-prev {
  padding: 0;

  fill: #000000;
  line-height: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

.js-swiper4-button-next:hover,
.js-swiper4-button-next:focus,
.js-swiper4-button-next:active,
.js-swiper4-button-prev:hover,
.js-swiper4-button-prev:focus,
.js-swiper4-button-prev:active {
  fill: #f3c653;
}
