.hotel-room-3 {
  background-color: var(--menu-background);
}

.room-3-container {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

@media screen and (max-width: 1023px) {
  .room-3-container {
    overflow: hidden;
  }
}

.hotel-room-3-info {
  padding-bottom: 32px;
  text-align: right;
}

@media screen and (min-width: 1024px) {
  .hotel-room-3-info {
    padding-top: 66px;
    padding-right: 17px;
    padding-bottom: 160px;
  }
}

@media screen and (min-width: 1280px) {
  .hotel-room-3-info {
    padding-top: 72px;
    padding-right: 57px;
    padding-bottom: 111px;
  }
}

.amet-3 {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 20px;
  line-height: calc(23 / 20);

  color: #b4b4b4;
}

@media screen and (min-width: 1024px) {
  .amet-3 {
    font-size: 32px;
  }
}

.mimino-3 {
  margin-top: 8px;

  font-family: var(--font-logo);
  font-size: 40px;
  line-height: calc(43 / 40);
  letter-spacing: 0.3em;
  font-weight: 700;

  color: var(--title-text-color);
}

@media screen and (min-width: 1024px) {
  .mimino-3 {
    margin-top: 4px;
    margin-right: -18px;

    font-size: 64px;
  }
}

.there {
  margin-top: 32px;

  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.05em;
}

@media screen and (min-width: 1280px) {
  .there {
    margin-top: 62px;

    font-size: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .there {
    margin-top: 72px;

    font-size: 36px;
  }
}

.amett {
  margin-left: 84px;
  margin-top: 12px;
  text-align: left;
  max-width: 242px;

  font-family: var(--font-main);
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;

  color: #7a7a7a;
}

@media screen and (min-width: 1024px) {
  .amett {
    max-width: 400px;
    margin-top: 16px;
    margin-left: auto;

    font-weight: 700;
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .amett {
    margin-top: 24px;
    margin-right: 53px;
  }
}

/*фото 1*/
.room-3 {
  margin-bottom: 32px;
}

.room-3 img {
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

@media screen and (min-width: 1024px) {
  .room-3 {
    position: absolute;
    top: -32px;
    right: 512px;

    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  }
}

@media screen and (min-width: 1280px) {
  .room-3 {
    position: absolute;
    top: -32px;
    left: 180px;
    max-width: 460px;
  }
}

.room-3-btn .btn {
  margin: 0 auto;
  margin-top: 16px;
}

.room-3-btn {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .room-3-btn {
    margin-top: 89px;
    margin-bottom: 113px;
  }
}

@media screen and (min-width: 1280px) {
  .room-3-btn {
    margin-top: 120px;
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 1024px) {
  .room-3-btn .btn {
    margin-left: 0;
  }
}

// позиціонування контейнер слайдеру
.room-3-slider {
  position: absolute;
  bottom: 216px;
  left: 130px;
}

@media screen and (min-width: 1024px) {
  .room-3-slider {
    right: 47px;
    bottom: 110px;
    width: 428px;
    left: auto;
  }
}

@media screen and (min-width: 1280px) {
  .room-3-slider {
    bottom: 118px;
    left: 647px;
    width: 548px;
  }
}

// налаштування розмірів слайдеру для mobile
.swiper-room-3 {
  height: 194px;
  width: 404px;
}

@media screen and (min-width: 1024px) {
  .swiper-room-3 {
    width: 428px;
  }
}

@media screen and (min-width: 1280px) {
  .swiper-room-3 {
    height: 254px;
    width: 548px;
  }
}

// стилізація зображень слайдеру
.room-3-slider .swiper-slide img {
  border-radius: 2px;
  width: 194px;
}

@media screen and (min-width: 1280px) {
  .room-3-slider .swiper-slide img {
    width: 254px;
  }
}

// позиціонування нових кнопок слайдера
.swiper-btn-wrapper_room-3 {
  display: flex;
  gap: 32px;
  margin-top: 246px;
  justify-content: end;
}

@media screen and (min-width: 1024px) {
  .swiper-btn-wrapper_room-3 {
    position: absolute;
    margin-top: 280px;
    margin-left: 500px;
  }
}

@media screen and (min-width: 1280px) {
  .swiper-btn-wrapper_room-3 {
    margin-top: 340px;
    margin-left: 560px;
  }
}

// стилізація нових кнопок слайдера
.js-swiper-button-next,
.js-swiper-button-prev {
  padding: 0;

  fill: #000000;
  line-height: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

.js-swiper-button-next:hover,
.js-swiper-button-next:focus,
.js-swiper-button-next:active,
.js-swiper-button-prev:hover,
.js-swiper-button-prev:focus,
.js-swiper-button-prev:active {
  fill: #f3c653;
}
