.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.scroll-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #4F2EE8;
  border: 5px solid  rgba(255, 255, 255, 0.5);
  transition: opacity 300ms linear, visibility 300ms linear,background-color 300ms linear;

  cursor: pointer;
}
.scroll-up:hover {
background-color: #37209d;
}
@media screen and (min-width: 768px) {
.scroll-up {
    bottom: 140px;
}
}
@media screen and (min-width: 1440px) {
.scroll-up {
    bottom: 150px;
}
}

