.container-main-gallery {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 40px;
  padding-top: 0px;
}
.gal-category {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;

}
.sidebar {
  padding-top: 40px;
  width: 356px;
  outline: 1px solid green;
}

.books__list {
  display: flex;
  margin-bottom: 32px;
  gap: 24px;
  // outline: 1px solid orange;
}

.books-category {
  display: flex;
  flex-direction: column;
  // outline: 1px solid blue;
}

.books-category:not(:last-child) {
  margin-bottom: 40px;
}

.book-card {
  padding: 5px;
  width: 180px;
  height: 256px;
}

.book-card-wrapper {
  width: 180px;
  // outline: 1px solid gray;
}

.category-title {
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
  font-weight: 700;
  font-size: 48px;
  line-height: calc(52 / 48);
  letter-spacing: -0.04em;
  color: var(--dark-header-bg-color);
}

.category-title-snap {
  color: var(--dark-accent-color);
}

.books-category-title {
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-header-secondary-color);
}

.book-name {
  margin-left: 5px;
  margin-top: 14px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(18 / 16);
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--dark-header-bg-color);
}

.book-author {
  margin-left: 5px;
  margin-bottom: 4px;
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: -0.04em;
  color: var(--dark-header-secondary-color);
}

.button-see-more {
  display: block;
  font-family: inherit;
  margin-left: auto;
  padding: 14px 28px;
  border: 2px solid var(--dark-accent-color);
  border-radius: 40px;

  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  line-height: 1.29;

  background-color: transparent;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  color: var(--dark-header-bg-color);
}

.button-see-more:hover,
.button-see-more:focus {
  background-color: var(--dark-accent-color);
  color: var(--light-header-bg-color);
}

// стилізація ОВЕРЛЕЯ
.book-card-wrapper:hover .overlay-field {
  opacity: 100%;
}

.book-card-wrapper:hover .overlay-text {
  opacity: 100%;
}

.book-card-wrapper:hover {
  border-radius: 8px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay-field {
  position: absolute;
  padding: 26px 48px;
  top: 186;
  width: 180px;
  height: 70px;
  background: #eac645;
  border-radius: 0px 0px 8px 8px;
  opacity: 0;

  opacity: 0;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  line-height: calc(14 / 18);
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--dark-header-bg-color);

  opacity: 0;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

// Sidebar
// Секція список категорій
// .categories {
//   margin-top: 40px;
// }
@media screen and (min-width: 768px) and (max-width: 1139px) {
  .categories {
    max-width: 337px;
    margin-right: 32px;
  }
}
.categories-list {
  max-height: 228px;
  overflow-y: scroll;
}
@media screen and (min-width: 768px) {
  .categories-list {
    max-height: 472px;
  }
}
.categories-list::-webkit-scrollbar {
  width: 8px;
  height: 114px;
}
@media screen and (min-width: 768px) {
  .categories-list::-webkit-scrollbar {
    height: 167px;
  }
}
.categories-list::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: #e0e0e0;
}
.categories-list::-webkit-scrollbar-track {
  display: none;
}

.category-list-item:not(:last-child) {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .category-list-item:not(:last-child) {
    margin-bottom: 32px;
  }
}
.category {
  background-color: inherit;
  border: none;
  text-align: left;
  font-size: 16px;
  line-height: 1.12px;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.6);
  transition: text-transform 400ms cubic-bezier(0.075, 0.82, 0.165, 1),
    font-weight 400ms cubic-bezier(0.075, 0.82, 0.165, 1),
    color 400ms cubic-bezier(0.075, 0.82, 0.165, 1),
    font-size 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
@media screen and (min-width: 768px) {
  .category {
    font-size: 18px;
    line-height: 1.33px;
  }
}

.category:active,
.category:focus,
.category:hover,
.category.all-categories {
  font-size: 14;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--light-accent-color);
}
@media screen and (min-width: 768px) {
  .category:active,
  .category:focus,
  .category:hover,
  .category.all-categories {
    font-size: 16px;
    line-height: 1.33px;
  }
}
