.main {
  width: 100%;
}
.main-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1440px) {
  .main-container {
    flex-direction: row;
  }
}

.container-main-gallery {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 0;
  padding-top: 0px;
}

@media screen and (min-width: 1440px) {
  .container-main-gallery {
    padding-left: 40px;
  }
}
.gal-category {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 40px;
  column-gap: 24px;
}
.sidebar {
  width: 100%;
  // outline: 1px solid green;
}
@media screen and (min-width: 768px) {
  .sidebar {
    display: flex;
    gap: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .sidebar {
    flex-basis: 380px;
    flex-direction: column;
    gap: 0;
  }
}
.categories {
  padding-top: 40px;
  width: 100%;
  height: 475px;
}
.books__list {
  display: flex;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .books__list {
    margin-bottom: 20px;
    justify-content: space-between;
    gap: 25px;
  }
}
@media screen and (min-width: 1440px) {
  .books__list {
    margin-bottom: 32px;
    gap: 25px;
  }
}

.books-category {
  display: flex;
  flex-direction: column;
  // outline: 1px solid blue;
}

.books-category:not(:last-child) {
  margin-bottom: 40px;
}

.book-card {
  padding: 5px;
  width: 100%;
  height: 256px;
}

.book-card-wrapper {
  width: 335px;
  height: 535px;
  // outline: 1px solid gray;
}

.book-card-wrapper img {
  width: 100%;
  height: 485px;
}

@media screen and (min-width: 768px) {
  .book-card-wrapper {
    width: 218px;
    height: 366px;
  }

  .book-card-wrapper img {
    width: 100%;
    height: 316px;
  }
}

@media screen and (min-width: 1440px) {
  .book-card-wrapper {
    width: 180px;
    height: 306px;
  }

  .book-card-wrapper img {
    width: 100%;
    height: 256px;
  }
}

.category-title {
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
  font-weight: 700;
  font-size: 32px;
  line-height: calc(38 / 32);
  letter-spacing: -0.04em;
  color: var(--dark-header-bg-color);
}

@media screen and (min-width: 1440px) {
  .category-title {
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    font-weight: 700;
    font-size: 48px;
    line-height: calc(52 / 48);
    letter-spacing: -0.04em;
    color: var(--dark-header-bg-color);
  }
}

.category-title-span {
  color: var(--dark-accent-color);
}

.books-category-title {
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-header-secondary-color);
}

.book-name {
  margin-left: 5px;
  margin-top: 14px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(18 / 16);
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--dark-header-bg-color);
}

.book-author {
  margin-left: 5px;
  margin-bottom: 4px;
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: -0.04em;
  color: var(--dark-header-secondary-color);
}

.button-see-more {
  display: block;
  font-family: inherit;
  margin-left: auto;
  padding: 14px 28px;
  border: 2px solid var(--dark-accent-color);
  border-radius: 40px;

  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  line-height: 1.29;

  background-color: transparent;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  color: var(--dark-header-bg-color);
}

.button-see-more:hover,
.button-see-more:focus {
  background-color: var(--dark-accent-color);
  color: var(--light-header-bg-color);
}

// стилізація ОВЕРЛЕЯ
.book-card-wrapper:hover .overlay-field {
  opacity: 100%;
}

.book-card-wrapper:hover .overlay-text {
  opacity: 100%;
}

.book-card-wrapper:hover {
  border-radius: 8px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

  transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-field {
  position: absolute;
  padding: 26px 48px;
  bottom: 50;
  width: 100%;
  height: 70px;
  background: #eac645;
  border-radius: 0px 0px 8px 8px;
  opacity: 0;

  opacity: 0;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  line-height: calc(14 / 18);
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--dark-header-bg-color);

  opacity: 0;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

// Sidebar
// Секція список категорій
.categories-list {
  width: 100%;
  max-height: 228px;
  overflow-y: scroll;
}
@media screen and (min-width: 768px) {
  .categories-list {
    max-height: 472px;
  }
}
.categories-list::-webkit-scrollbar {
  width: 8px;
  height: 114px;
}
@media screen and (min-width: 768px) {
  .categories-list::-webkit-scrollbar {
    height: 167px;
  }
}
.categories-list::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: #e0e0e0;
}
.categories-list::-webkit-scrollbar-track {
  display: none;
}

.category-list-item:not(:last-child) {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .category-list-item:not(:last-child) {
    margin-bottom: 32px;
  }
}
.category {
  width: 100%;
  background-color: inherit;
  border: none;
  text-align: left;
  font-size: 14px;
  line-height: 1.12px;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.6);
  cursor: pointer;
  // transition: text-transform 400ms cubic-bezier(0.075, 0.82, 0.165, 1),
  //   font-weight 400ms cubic-bezier(0.075, 0.82, 0.165, 1),
  //   color 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
@media screen and (min-width: 768px) {
  .category {
    font-size: 16px;
    line-height: 1.33px;
  }
}

.category:active,
.category:focus,
.category:hover,
.category.all-categories {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--light-accent-color);
}
