// SUPPORT SECTION
.support-container{
  position: relative;
    display: block;
    justify-content: center;
    align-items: start;
   
    width: 356px;
  height: 490px;
  
  background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
  border-radius: 16px;

  align-items: center;       
  padding: 24px 40px;  
  
  }
  .support-ukraine{ 
    display: flex;
        color:#FFFFFF;
        align-items: center;
        margin-bottom: 40px;
       }
  .support-render{
  display: flex;
  flex-direction: column;
  width: 159px;
  height: 292px;
  overflow: hidden;
  
  }
  .support-emblem{
    display: block;
    margin-left: 12px;
  }
 
    .support-button{
        
     width: 38px;
     height: 38px;
    display: flex;
    position: absolute;
    bottom: 24;
    left: 50%;
    transform: translateX(-50%);
  
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    }
    .support-button:hover {
      background-color: #d8d8d8;
    }
    img.support-item {
    width: 129px;
    height: 32px;
   }
//  .support-scroll{
   
//     width: 159px;
//     height: 292px;
//    }
  .support-link{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 159px;
    height: 292px;
  }
   .support-p{
    width: 14px;
height: 18px;
margin-right: 16px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;


display: flex;
align-items: flex-end;
letter-spacing: -0.04em;

color: #FFFFFF;

   }
    .support-icon{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 22px;
        height: 22px;
        fill: #4F2EE8;
        color: red;
        transition: transform 0.3s ease-in-out;
      }
      .icon {
        width: 10px;
        height: 10px;
      }