<section class="about-hotel">
  <div class="container hotel-div">
    <h2 class="hiden">About Hotel Mimino</h2>
    <div class="title-div">
      <h3 class="about-hotel-text">Amet minim mollit non</h3>
      <p class="logo-text">MIMIHO</p>
      <p class="hotel-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="tumba inter-room">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/about-hotel/interior-desktop-2.jpg    1x,
            ./images/about-hotel/interior-desktop-2@2x.jpg 2x
          "
          type="image/jpeg"
        />
        <source
          media="(min-width: 1024px)"
          srcset="
            ./images/about-hotel/interior-tablet-2.jpg    1x,
            ./images/about-hotel/interior-tablet-2@2x.jpg 2x
          "
          type="image/jpeg"
        />
        <img
          srcset="./images/about-hotel/interior-mobile-2@2x.jpg 2x"
          src="./images/about-hotel/interior-mobile-2.jpg"
          alt="Foto-hotel-room"
          loading="lazy"
        />
      </picture>
    </div>
    <div class="hotel-room-div">
      <p class="hotel-text room">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <div class="tumba interior">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/about-hotel/interior-desktop-1.jpg    1x,
              ./images/about-hotel/interior-desktop-1@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/about-hotel/interior-tablet-1.jpg    1x,
              ./images/about-hotel/interior-tablet-1@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            srcset="./images/about-hotel/interior-mobile-1@2x.jpg 2x"
            src="./images/about-hotel/interior-mobile-1.jpg"
            alt="Foto-hotel"
            loading="lazy"
          />
        </picture>
      </div>
    </div>

    <!-- контейнер слайдеру -->
    <div class="swiper-container__about-hotel">
      <div class="swiper swiper-fix js-swiper_about-hotel">
        <!-- обгортка зображень слайдеру -->
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-hotel/slider/picture-desktop-1.jpg    1x,
                  ./images/about-hotel/slider/picture-desktop-1@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-hotel/slider/picture-tablet-1.jpg    1x,
                  ./images/about-hotel/slider/picture-tablet-1@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                srcset="./images/about-hotel/slider/picture-mobile-1@2x.jpg 2x"
                src="./images/about-hotel/slider/picture-mobile-1.jpg"
                alt="picture"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-hotel/slider/picture-desktop-2.jpg    1x,
                  ./images/about-hotel/slider/picture-desktop-2@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-hotel/slider/picture-tablet-2.jpg    1x,
                  ./images/about-hotel/slider/picture-tablet-2@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                srcset="./images/about-hotel/slider/picture-mobile-2@2x.jpg 2x"
                src="./images/about-hotel/slider/picture-mobile-2.jpg"
                alt="picture"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-hotel/slider/picture-desktop-3.jpg    1x,
                  ./images/about-hotel/slider/picture-desktop-3@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-hotel/slider/picture-tablet-3.jpg    1x,
                  ./images/about-hotel/slider/picture-tablet-3@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                srcset="./images/about-hotel/slider/picture-mobile-3@2x.jpg 2x"
                src="./images/about-hotel/slider/picture-mobile-3.jpg"
                alt="picture"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-hotel/slider/picture-desktop-4.jpg    1x,
                  ./images/about-hotel/slider/picture-desktop-4@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-hotel/slider/picture-tablet-4.jpg    1x,
                  ./images/about-hotel/slider/picture-tablet-4@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                srcset="./images/about-hotel/slider/picture-mobile-4@2x.jpg 2x"
                src="./images/about-hotel/slider/picture-mobile-4.jpg"
                alt="picture"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-hotel/slider/picture-desktop-5.jpg    1x,
                  ./images/about-hotel/slider/picture-desktop-5@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-hotel/slider/picture-tablet-5.jpg    1x,
                  ./images/about-hotel/slider/picture-tablet-5@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                srcset="./images/about-hotel/slider/picture-mobile-5@2x.jpg 2x"
                src="./images/about-hotel/slider/picture-mobile-5.jpg"
                alt="picture"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-hotel/slider/picture-desktop-6.jpg    1x,
                  ./images/about-hotel/slider/picture-desktop-6@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-hotel/slider/picture-tablet-6.jpg    1x,
                  ./images/about-hotel/slider/picture-tablet-6@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                srcset="./images/about-hotel/slider/picture-mobile-6@2x.jpg 2x"
                src="./images/about-hotel/slider/picture-mobile-6.jpg"
                alt="picture"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>

    <!-- обгортка нових кнопок слайдеру -->
    <div class="swiper-btn-wrapper_about-hotel">
      <button class="js-swiper2-button-prev" type="button">
        <svg width="32" height="32">
          <use href="./images/icons.svg#arrow-left"></use>
        </svg>
      </button>
      <button class="js-swiper2-button-next" type="button">
        <svg width="32" height="32">
          <use href="./images/icons.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
