<section class="about-rest">
  <div class="about-rest-container container">
    <h2 class="about-rest-title hiden">About restaurant</h2>
    <div class="about-rest-wrapper-main">
      <div class="about-rest-main-info">
        <h3 class="about-rest-subtitle">Amet minim mollit non</h3>
        <p class="rest-name">MIMIHO</p>
        <p class="about-rest-desc">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="about-rest-interior-main">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/about-restaurant/interior-desktop-1.jpg    1x,
              ./images/about-restaurant/interior-desktop-1@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/about-restaurant/interior-tablet-1.jpg    1x,
              ./images/about-restaurant/interior-tablet-1@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            srcset="./images/about-restaurant/interior-mobile-1@2x.jpg 2x"
            src="./images/about-restaurant/interior-mobile-1.jpg"
            alt="restaurant interior room 1"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
    <div class="about-rest-wrapper-details">
      <div class="about-rest-interior">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/about-restaurant/interior-desktop-2.jpg    1x,
              ./images/about-restaurant/interior-desktop-2@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/about-restaurant/interior-tablet-2.jpg    1x,
              ./images/about-restaurant/interior-tablet-2@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            srcset="./images/about-restaurant/interior-mobile-2@2x.jpg 2x"
            src="./images/about-restaurant/interior-mobile-2.jpg"
            alt="restaurant interior room 2"
            loading="lazy"
          />
        </picture>
      </div>
      <p class="about-rest-desc gold">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <!-- контейнер слайдеру -->
    <div class="swiper-container__about-restaurant">
      <div class="swiper swiper-fix js-swiper_about-restaurant">
        <!-- обгортка зображень слайдеру -->
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-restaurant/slider/picture-desktop-1.jpg    1x,
                  ./images/about-restaurant/slider/picture-desktop-1@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-restaurant/slider/picture-tablet-1.jpg    1x,
                  ./images/about-restaurant/slider/picture-tablet-1@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                srcset="
                  ./images/about-restaurant/slider/picture-mobile-1@2x.jpg 2x
                "
                src="./images/about-restaurant/slider/picture-mobile-1.jpg"
                alt="picture"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-restaurant/slider/picture-desktop-2.jpg    1x,
                  ./images/about-restaurant/slider/picture-desktop-2@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-restaurant/slider/picture-tablet-2.jpg    1x,
                  ./images/about-restaurant/slider/picture-tablet-2@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                srcset="
                  ./images/about-restaurant/slider/picture-mobile-2@2x.jpg 2x
                "
                src="./images/about-restaurant/slider/picture-mobile-2.jpg"
                alt="picture"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-restaurant/slider/picture-desktop-3.jpg    1x,
                  ./images/about-restaurant/slider/picture-desktop-3@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-restaurant/slider/picture-tablet-3.jpg    1x,
                  ./images/about-restaurant/slider/picture-tablet-3@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                srcset="
                  ./images/about-restaurant/slider/picture-mobile-3@2x.jpg 2x
                "
                src="./images/about-restaurant/slider/picture-mobile-3.jpg"
                alt="picture"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-restaurant/slider/picture-desktop-4.jpg    1x,
                  ./images/about-restaurant/slider/picture-desktop-4@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-restaurant/slider/picture-tablet-4.jpg    1x,
                  ./images/about-restaurant/slider/picture-tablet-4@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                srcset="
                  ./images/about-restaurant/slider/picture-mobile-4@2x.jpg 2x
                "
                src="./images/about-restaurant/slider/picture-mobile-4.jpg"
                alt="picture"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-restaurant/slider/picture-desktop-5.jpg    1x,
                  ./images/about-restaurant/slider/picture-desktop-5@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-restaurant/slider/picture-tablet-5.jpg    1x,
                  ./images/about-restaurant/slider/picture-tablet-5@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                srcset="
                  ./images/about-restaurant/slider/picture-mobile-5@2x.jpg 2x
                "
                src="./images/about-restaurant/slider/picture-mobile-5.jpg"
                alt="picture"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-restaurant/slider/picture-desktop-6.jpg    1x,
                  ./images/about-restaurant/slider/picture-desktop-6@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-restaurant/slider/picture-tablet-6.jpg    1x,
                  ./images/about-restaurant/slider/picture-tablet-6@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                srcset="
                  ./images/about-restaurant/slider/picture-mobile-6@2x.jpg 2x
                "
                src="./images/about-restaurant/slider/picture-mobile-6.jpg"
                alt="picture"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>

    <!-- обгортка нових кнопок слайдеру -->
    <div class="swiper-btn-wrapper_about-restaurant">
      <button class="js-swiper-button-prev" type="button">
        <svg width="32" height="32">
          <use href="./images/icons.svg#arrow-left"></use>
        </svg>
      </button>
      <button class="js-swiper-button-next" type="button">
        <svg width="32" height="32">
          <use href="./images/icons.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
