<div class="auth-backdrop is-hidden">
  <form class="auth-form">
    <div class="auth-form-close-btn">
      <svg class="auth-form-cross-icon" width="20" height="20">
        <use href="./img/svg/sprite.svg#icon-x-close"></use>
      </svg>
    </div>
    <div class="auth-content">
      <input type="text" placeholder="Name" name="uname" required />

      <input type="email" placeholder="email" name="uemail" required />

      <input type="password" placeholder="Password" name="upassword" required />

      <button class="signup-btn" type="submit">SIGN UP</button>
      <div class="auth-form-links">
        <a href="">SIGN UP</a>
        <a href="">SIGN IN</a>
      </div>
    </div>
  </form>
</div>
