<div class="auth-backdrop is-hidden">
  <form class="auth-form js-register-form">
    <div class="auth-form-close-btn">
      <svg class="auth-form-cross-icon" width="20" height="20">
        <use href="./img/svg/sprite.svg#icon-x-close"></use>
      </svg>
    </div>
    <div class="auth-content">
      <input type="text" placeholder="Name" name="uname" id="uname" required />

      <input
        type="email"
        placeholder="email"
        name="uemail"
        id="uemail"
        required
      />

      <input
        type="password"
        placeholder="Password"
        name="upassword"
        id="upassword"
        required
      />

      <!-- <button class="signup-btn" type="submit" id="btnSignup" disabled>
        SIGN UP
      </button>
      <button class="signup-btn" type="submit" id="btnLogin" disabled>
        SIGN IN 
      </button> -->

      <button class="signup-btn" type="submit" id="authform-submitBtn">
        SIGN UP
      </button>

      <div class="auth-form-links">
        <span
          id="signup-formbtn"
          class="auth-form-linksBtn active"
          data-login="active"
        >
          SIGN UP
        </span>
        <span id="signin-formbtn" class="auth-form-linksBtn"> SIGN IN </span>

        <!-- <label class="login-switch" name="signup" for="login">
          <input
            type="radio"
            class="login-radio"
            id="signup-radiobtn"
            name="login"
            value="SignUP"
          />
          <span class="login-slider"
            ><button type="button">SIGN UP</button></span
          >
        </label>

        <label class="login-switch" name="signin" for="login">
          <input
            type="radio"
            class="login-radio"
            id="signin-radiobtn"
            name="login"
            value="SignIN"
          />
          <span class="login-slider"
            ><button type="button">SIGN IN</button></span
          >
        </label> -->
      </div>
    </div>
  </form>
  <button
    class="signup-btn"
    type="submit"
    id="btnLogout"
    style="display: block; margin: 0 auto; margin-top: 20px"
  >
    LOG OUT
  </button>
</div>
