<section class="contacts">
  <div class="contacts-container container">
    <div class="contacts-group">
      <p class="contacts-title">MIMIHO</p>
      <h3 class="contacts-subtitle">Ресторанно-готельний комплекс</h3>
      <ul class="contacts-list list">
        <li class="contacts-link link">
          <div class="contact-list">
            <p class="contacts-name">Ресторан</p>
            <a class="tel tel-1" href="tel:+380955559533"
              ><svg class="svg-phone">
                <use href="./images/icons.svg#phone"></use></svg
              >095 555 95 33</a
            >
          </div>
        </li>
        <li class="contacts-link link">
          <div class="contact-list">
            <p class="contacts-name">Готель</p>
            <div class="tel small-tel">
              <a class="tel-2" href="tel:0668491089 "
                ><svg class="svg-phone">
                  <use href="./images/icons.svg#phone"></use></svg
                >066 849 10 89
              </a>
              <a class="tel-2" href="tel:0672758540">067 275 85 40 </a>
            </div>
          </div>
        </li>
        <li>
          <a
            class="contacts-adress contacts-tex"
            href="https://goo.gl/maps/WsoBYjnrj18diacR8"
            rel="noreferrer noopener"
          >
            <svg class="contacts-svg">
              <use href="./images/icons.svg#location-pin"></use>
            </svg>
            <address>
              Україна, м. Полтава,
              <p>вул. Маршала Бірюзова, 15</p>
            </address>
          </a>
        </li>
      </ul>
    </div>
    <address class="link-map">
      <div class="contact-map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3266.075123847116!2d34.5265463!3d49.59919399999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0LLRg9C70LjRhtGPINCc0LDRgNGI0LDQu9CwINCR0ZbRgNGO0LfQvtCy0LAsIDE1LCDQn9C-0LvRgtCw0LLQsCwg0J_QvtC70YLQsNCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDM2MDAw!5e1!3m2!1suk!2sua!4v1674943230091!5m2!1suk!2sua"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        >
        </iframe>
      </div>
    </address>
  </div>
</section>
