<section class="details-restaurant">
  <div class="details-restaurant__container container">
    <!-- обгортка блоків тексту та слайдеру -->
    <div class="details-restaurant__wrapper">
      <!-- обгортка тексту -->
      <div class="details-restaurant__wrapper-text">
        <p class="header-logo logo-section">MIMIHO</p>
        <h2 class="details-restaurant__title">Ресторан</h2>
        <p class="details-restaurant__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </div>

      <!-- СЛАЙДЕР -->
      <div class="position__det-rest">
        <!-- загальний контейнер слайдеру та кнопок керування -->
        <div class="wrapper-slider__det-rest">
          <!-- обгортка слайдеру -->
          <div class="swiper slider_det-rest">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <picture>
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./images/details-restaurant/slider/picture-desktop-1.jpg    1x,
                      ./images/details-restaurant/slider/picture-desktop-1@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />

                  <source
                    media="(min-width: 1024px)"
                    srcset="
                      ./images/details-restaurant/slider/picture-tablet-1.jpg    1x,
                      ./images/details-restaurant/slider/picture-tablet-1@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />

                  <img
                    class="swiper-slide-img"
                    srcset="
                      ./images/details-restaurant/slider/picture-mobile-1@2x.jpg 2x
                    "
                    src="./images/details-restaurant/slider/picture-mobile-1.jpg"
                    alt="picture"
                    width="274"
                    height="270"
                  />
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./images/details-restaurant/slider/picture-desktop-3.jpg    1x,
                      ./images/details-restaurant/slider/picture-desktop-3@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />

                  <source
                    media="(min-width: 1024px)"
                    srcset="
                      ./images/details-restaurant/slider/picture-tablet-11.jpg    1x,
                      ./images/details-restaurant/slider/picture-tablet-11@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />

                  <img
                    class="swiper-slide-img"
                    srcset="
                      ./images/details-restaurant/slider/picture-mobile-11@2x.jpg 2x
                    "
                    src="./images/details-restaurant/slider/picture-mobile-11.jpg"
                    alt="picture 3"
                    width="274"
                    height="270"
                  />
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./images/details-restaurant/slider/picture-desktop-1.jpg    1x,
                      ./images/details-restaurant/slider/picture-desktop-1@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />

                  <source
                    media="(min-width: 1024px)"
                    srcset="
                      ./images/details-restaurant/slider/picture-tablet-1.jpg    1x,
                      ./images/details-restaurant/slider/picture-tablet-1@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />

                  <img
                    class="swiper-slide-img"
                    srcset="
                      ./images/details-restaurant/slider/picture-mobile-1@2x.jpg 2x
                    "
                    src="./images/details-restaurant/slider/picture-mobile-1.jpg"
                    alt="picture"
                    width="274"
                    height="270"
                  />
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./images/details-restaurant/slider/picture-desktop-3.jpg    1x,
                      ./images/details-restaurant/slider/picture-desktop-3@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />

                  <source
                    media="(min-width: 1024px)"
                    srcset="
                      ./images/details-restaurant/slider/picture-tablet-11.jpg    1x,
                      ./images/details-restaurant/slider/picture-tablet-11@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />

                  <img
                    class="swiper-slide-img"
                    srcset="
                      ./images/details-restaurant/slider/picture-mobile-11@2x.jpg 2x
                    "
                    src="./images/details-restaurant/slider/picture-mobile-11.jpg"
                    alt="picture 3"
                    width="274"
                    height="270"
                  />
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./images/details-restaurant/slider/picture-desktop-1.jpg    1x,
                      ./images/details-restaurant/slider/picture-desktop-1@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />

                  <source
                    media="(min-width: 1024px)"
                    srcset="
                      ./images/details-restaurant/slider/picture-tablet-1.jpg    1x,
                      ./images/details-restaurant/slider/picture-tablet-1@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />

                  <img
                    class="swiper-slide-img"
                    srcset="
                      ./images/details-restaurant/slider/picture-mobile-1@2x.jpg 2x
                    "
                    src="./images/details-restaurant/slider/picture-mobile-1.jpg"
                    alt="picture"
                    width="274"
                    height="270"
                  />
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./images/details-restaurant/slider/picture-desktop-3.jpg    1x,
                      ./images/details-restaurant/slider/picture-desktop-3@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />

                  <source
                    media="(min-width: 1024px)"
                    srcset="
                      ./images/details-restaurant/slider/picture-tablet-11.jpg    1x,
                      ./images/details-restaurant/slider/picture-tablet-11@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />

                  <img
                    class="swiper-slide-img"
                    srcset="
                      ./images/details-restaurant/slider/picture-mobile-11@2x.jpg 2x
                    "
                    src="./images/details-restaurant/slider/picture-mobile-11.jpg"
                    alt="picture 3"
                    width="274"
                    height="270"
                  />
                </picture>
              </div>
            </div>
          </div>
          <!-- обгортка кнопок слайдера -->
          <div class="swiper-btn_det-rest">
            <button class="swiper-button-prev_det-rest" type="button">
              <svg width="32" height="32">
                <use href="./images/icons.svg#arrow-left"></use>
              </svg>
            </button>
            <button class="swiper-button-next_det-rest" type="button">
              <svg width="32" height="32">
                <use href="./images/icons.svg#arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- список з кнопками модальних вікон -->
    <ul class="details-restaurant__btn-list list">
      <li class="details-restaurant__btn-item">
        <button
          class="btn js-open-modal"
          type="button"
          aria-label="Кнопка бронювання столику"
          data-modal="1"
        >
          Забронювати столик
        </button>
      </li>
      <li class="details-restaurant__btn-item">
        <a
          class="btn btn-look-menu link-block link"
          href="./restaurant-page.html#menu"
          aria-label="Кнопка посилання до пергляду меню"
          >Переглянути меню</a
        >
      </li>
    </ul>
  </div>
</section>
