<!-- <footer class="footer">
  <div class="container">
    <div class="footer-content-wrapper">
      <div class="footer-content">
        <a
          class="logo-link link"
          href="./index.html"
          aria-label="Посилання на головну сторінку"
        >
          <svg class="logo-icon" width="24" height="24">
            <use href="./img/svg/sprite.svg#icon-logo"></use>
          </svg>
          Bookshelf</a
        >
        <a
          class="shopping-link link"
          href="./shopping-list-page.html"
          aria-label="Посилання на сторінку Shopping List"
          ><span>SHOPPING LIST</span>
          <svg class="shopping-bag-icon" width="20" height="20">
            <use href="./img/svg/sprite.svg#icon-shoping-bag"></use>
          </svg>
        </a>
      </div>
      <div class="home-button">
        <a
          class="home-link link"
          href="./index.html"
          aria-label="Посилання на головну сторінку"
          >HOME</a
        >
      </div>
      <div class="profiles-wrapper">
        <ul class="profile-list is-hidden"></ul>

        <div class="profile-btn-wrapper">
          <button class="pixel-js-cake-btn">pixel-js-cake</button>
        </div>
      </div>
    </div>
    <div class="copyright">
      <p>© 2023 BOOKSHELF</p>
    </div>
  </div>
</footer> -->

<!-- MARKUP LIZA -->

<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-social-wrapper">
        <a
          class="logo-link link"
          href="./index.html"
          aria-label="Посилання на головну сторінку"
        >
          <svg class="logo-icon" width="24" height="24">
            <use href="./img/svg/sprite.svg#icon-logo"></use>
          </svg>
          Bookshelf</a
        >
        <p class="footer-description">
          The small space for great opportunities to reach a ray of cognition.
        </p>
                      <a
          class="shopping-link link"
          href="./shopping-list-page.html"
          aria-label="Посилання на сторінку Shopping List"
          ><span>SHOPPING LIST</span>
          <svg class="shopping-bag-icon" width="20" height="20">
            <use href="./img/svg/sprite.svg#icon-shoping-bag"></use>
          </svg>
        </a>
      </div>

      <!-- <ul class="social-list list">
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon" width="20" height="20">
                      <use href="./img/svg/sprite.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon" width="20" height="20">
                      <use href="./img/svg/sprite.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon" width="20" height="20">
                      <use href="./img/svg/sprite.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <svg class="social-icon" width="20" height="20">
                      <use href="./img/svg/sprite.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul> -->
      <ul class="card-list">
        <!-- <li class="card-item">
          <a href="#" class="card-link"
            ><img
              src="./img/card-photo/vitaliypshenychnyi@2x.jpg"
              alt="vitaliypshenychnyi"
          /></a>
        </li>
        <li class="card-item">
          <a href="#" class="card-link"
            ><img src="./img/card-photo/julialuzina@2x.jpg" alt="julialuzina"
          /></a>
        </li>
        <li class="card-item">
          <a href="#" class="card-link"
            ><img
              src="./img/card-photo/evgenvanchenko@2x.jpg"
              alt="evgenvanchenko"
          /></a>
        </li>
        <li class="card-item">
          <a href="#" class="card-link"
            ><img
              src="./img/card-photo/vitaliydolyuk@2x.jpg"
              alt="vitaliydolyuk"
          /></a>
        </li>
        <li class="card-item">
          <a href="#" class="card-link"
            ><img
              src="./img/card-photo/andriymatcipura@2x.jpg"
              alt="andriymatcipura"
          /></a>
        </li>
        <li class="card-item">
          <a href="#" class="card-link"
            ><img src="./img/card-photo/lizapikovska@2x.jpg" alt="lizapikovska"
          /></a>
        </li>
        <li class="card-item">
          <a href="#" class="card-link"
            ><img
              src="./img/card-photo/olexanderbreslavets@2x.jpg"
              alt="olexanderbreslavets"
          /></a>
        </li>
        <li class="card-item">
          <a href="#" class="card-link"
            ><img
              src="./img/card-photo/hennadiyyarosh@2x.jpg"
              alt="hennadiyyarosh"
          /></a>
        </li>
        <li class="card-item">
          <a href="#" class="card-link"
            ><img src="./img/card-photo/ivanrusnak@2x.jpg" alt="ivanrusnak"
          /></a>
        </li> -->
      </ul>
      <div class="footer-group-logo-wrapper">
        <button class="button-group-logo">
          <svg class="group-logo-icon" width="30" height="50">
            <use href="./img/svg/sprite.svg#icon-scroll-up"></use>
          </svg>
          <img class="img-pixel-cake"
            class="img-group-logo"
            src="./img/group-logo2x.png"
            alt="group logo"
            width="128"
            height="64"
          />
        </button>
      </div>
    </div>
    <div class="rights-reserved">&#169; 2023 BOOKSHELF</div>
  </div>
</footer>
