<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-social-wrapper">
        <a
          class="logo-link link"
          href="./index.html"
          aria-label="Посилання на головну сторінку"
        >
          <svg class="logo-icon" width="24" height="24">
            <use href="./img/svg/sprite.svg#icon-logo"></use>
          </svg>
          Bookshelf</a
        >
        <p class="footer-description">
          The small space for great opportunities to reach a ray of cognition.
        </p>
        <a
          class="shopping-link link"
          href="./shopping-list-page.html"
          aria-label="Посилання на сторінку Shopping List"
          ><span>SHOPPING LIST</span>
          <svg class="shopping-bag-icon" width="20" height="20">
            <use href="./img/svg/sprite.svg#icon-shoping-bag"></use>
          </svg>
        </a>
      </div>
      <div class="card-list-wrapper">
        <p class="our-team is-hidden">Our team</p>
        <ul class="card-list is-hidden"></ul>
      </div>
      <div class="footer-group-logo-wrapper">
        <button class="button-group-logo" aria-label="button scroll up">
          <svg class="group-logo-icon" width="30" height="50">
            <use href="./img/svg/sprite.svg#icon-scroll-up"></use>
          </svg>
          <img
            class="img-pixel-cake"
            class="img-group-logo"
            src="./img/group-logo2x.png"
            alt="group logo"
            width="128"
            height="64"
          />
        </button>
      </div>
    </div>
    <div class="rights-reserved">&#169; 2023 BOOKSHELF</div>
  </div>
</footer>
