<footer class="footer">
  <div class="container">
    <!-- логотип-посилання на головну сторінку -->
    <a class="logo link" href="./index.html">MIMIHO</a>
    <!-- навігаційний блок -->
    <div class="nav-wrapper">
      <nav class="footer-nav">
        <ul class="list">
          <li class="item">
            <a class="link" href="./index.html">Головна</a>
          </li>
          <li class="item">
            <a class="link" href="./restaurant-page.html">Ресторан</a>
          </li>
          <li class="item">
            <a class="link" href="./hotel-page.html">Готель</a>
          </li>
        </ul>
      </nav>
      <!-- список посилань на соціальні мережі -->
      <ul class="footer__social-list list">
        <li class="item">
          <a
            class="link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <p class="link-name">instagram</p>
            <svg class="social-icon" width="24" height="24">
              <use href="./images/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="item">
          <a
            class="link"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <p class="link-name">Facebook</p>
            <svg class="social-icon" width="24" height="24">
              <use href="./images/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="item">
          <a
            class="link"
            href="https://twitter.com/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <p class="link-name">Telegram</p>
            <svg class="social-icon" width="24" height="24">
              <use href="./images/icons.svg#twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
