<header class="header">
  <!-- логотип-посилання на головну сторінку -->
  <a class="" href="#" aria-label="Посилання на головну сторінку">LOGO</a>
  <!-- навігаційний блок -->
  <nav class="">
    <ul class="">
      <li class="">
        <a class="" href="" aria-label="Посилання на головну сторінку">HOME</a>
        <a class="" href="#" aria-label="Посилання на сторінку Shopping List"
          >SHOPPING LIST</a
        >
      </li>
    </ul>
</nav>
<!-- блок перемикача теми та юзера -->
<div class="user"></div>
</header>
