<header class="header">
  <!-- обгортка для позиціонування header -->
  <div class="header-wrapper container">
    <!-- логотип-посилання на головну сторінку -->
    <a class="header-logo link" href="./index.html">MIMIHO</a>
    <!-- навігаційний блок -->
    <nav class="nav">
      <ul class="nav__list list">
        <li class="nav__item">
          <a
            class="nav__link-page link"
            href="./restaurant-page.html"
            aria-label="Посилання на сторінку Ресторан"
            >Ресторан</a
          >
          <a class="nav__phone link" href="tel:+380955559533" aria-label="Зв'язок по телефону із рестораном">
            <svg width="24" height="24">
              <use href="./images/icons.svg#phone"></use>
            </svg>
            <span class="phone-number">095 555 95 33</span>
          </a>
        </li>
        <li class="nav__item">
          <a class="nav__link-page link" href="./hotel-page.html" aria-label="Посилання на сторінку Готель">Готель</a>
          <a class="nav__phone link" href="tel:+380668491089" aria-label="Зв'язок по телефону із готелем">
            <svg width="24" height="24">
              <use href="./images/icons.svg#phone"></use>
            </svg>
            <span class="phone-number">066 849 10 89</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- список посилань на соціальні мережі -->
    <ul class="header__social-list list">
      <li>
        <a
          href="https://www.instagram.com/"
          target="_blank"
          rel="noreferrer noopener"
          aria-label="Посилання на сторінку instagram"
        >
          <svg class="social-icon" width="24" height="24">
            <use href="./images/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.facebook.com/"
          target="_blank"
          rel="noreferrer noopener"
          aria-label="Посилання на сторінку facebook"
        >
          <svg class="social-icon" width="24" height="24">
            <use href="./images/icons.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://twitter.com/"
          target="_blank"
          rel="noreferrer noopener"
          aria-label="Посилання на сторінку twitter"
        >
          <svg class="social-icon" width="24" height="24">
            <use href="./images/icons.svg#twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
