<section class="hero-homepage">
  <div class="hero-container container">
    <!-- обгортка текстового контенту -->
    <div class="hero__wrapper-text">
      <h1 class="hero__title animate__animated animate__fadeInTopLeft">
        MIMIHO
      </h1>
      <h2 class="hero__subtitle">Ресторанно-готельний комплекс</h2>
      <p class="hero__slogan animate__animated animate__fadeInTopRight">
        <strong>СМАК ЖИТТЯ 24/7</strong>
      </p>
    </div>

    <!-- обгортка адреси-посилання та списку кнопок бронювання  -->
    <div class="hero__wrapper-btn-adress">
      <a
        class="hero__address-link link"
        href="https://goo.gl/maps/Wy7yLtt57uTDzyF48"
        rel="noreferrer noopener"
        aria-label="Посилання на крту Google із локацією комплексу"
      >
        <svg class="location-icon">
          <use href="./images/icons.svg#location-pin"></use>
        </svg>
        <address>
          Україна, м. Полтава,
          <p>вул. Маршала Бірюзова, 15</p>
        </address>
      </a>

      <ul class="hero__btn-list list">
        <li class="hero__btn-item">
          <button
            class="btn js-open-modal"
            type="button"
            aria-label="Кнопка бронювання столику"
            data-modal="1"
          >
            Забронювати столик
          </button>
        </li>
        <li class="hero__btn-item">
          <button
            class="btn js-open-modal"
            type="button"
            aria-label="Кнопка бронювання номеру"
            data-modal="2"
          >
            Забронювати номер
          </button>
        </li>
      </ul>
    </div>

    <!-- список посилань на соціальні мережі -->
    <ul class="hero__social-list list">
      <li>
        <a
          href="https://www.instagram.com/"
          target="_blank"
          rel="noreferrer noopener"
          aria-label="Посилання на сторінку instagram"
        >
          <svg class="social-icon" width="24" height="24">
            <use href="./images/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.facebook.com/"
          target="_blank"
          rel="noreferrer noopener"
          aria-label="Посилання на сторінку facebook"
        >
          <svg class="social-icon" width="24" height="24">
            <use href="./images/icons.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://twitter.com/"
          target="_blank"
          rel="noreferrer noopener"
          aria-label="Посилання на сторінку twitter"
        >
          <svg class="social-icon" width="24" height="24">
            <use href="./images/icons.svg#twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
