<main >
  <div class="container main-container">
    <!-- Sidebar -->
    <aside class="sidebar">
      <section class="categories">
        <ul class="categories-list"></ul>
      </section>
      <section class="support">
        <div class="support-container">
          <h2 class="support-ukraine">
            Support Ukraine
            <svg class="support-emblem" width="20" height="32">
              <use href="/src/img/svg/sprite.svg#emblem"></use>
            </svg>
          </h2>
          <div class="support-render">
    
          </div>
          <button type="button" class="support-button">
              <svg class="support-icon" width="15" height="20">
                <use href="/src/img/svg/sprite.svg#icon-scroll-down"></use>
              </svg>
    
          </button>
        </div>
      </section>
    </aside>
    <!-- Main box -->
    <section class="main">
      <h1 class="category-title">
        Best Sellers <span class="category-title-span">Books</span>
      </h1>
      <div class="container-main-gallery"></div>
      <div class="js-target"></div>
      <!-- spinner -->
      <div class="breeding-rhombus-spinner">
        <div class="rhombus child-1"></div>
        <div class="rhombus child-2"></div>
        <div class="rhombus child-3"></div>
        <div class="rhombus child-4"></div>
        <div class="rhombus child-5"></div>
        <div class="rhombus child-6"></div>
        <div class="rhombus child-7"></div>
        <div class="rhombus child-8"></div>
        <div class="rhombus big"></div>
      </div>
    </section>
  </div>
</main>
