<main class="container">
  <!-- Sidebar -->
  <aside class="sidebar">
    <section class="categories">
      <ul class="categories-list"></ul>
    </section>
   
      
<section class="support">
  <div class = "support-container"> 
  <h2 class="support-ukraine"
  >Support Ukraine
  <svg class="support-emblem" width="20" height="32">
    <use
      href="/src/img/svg/sprite.svg#emblem"
    ></use>
  </svg>
</h2> 
<div class = "support-render">

</div>
  <button type="button" class="support-button">
    <div class = "support-icon-div">

    </div>
    <!-- <svg class="support-icon" width="7" height="13">
      <use
        href="/src/img/svg/sprite.svg#icon-scroll-down"
      ></use>
    </svg> -->
  </button>
</div>
</section>
   
  </aside>

  <!-- Main box -->
  <section class="main">
      <!-- слід через JS завантажувати -->
      <h1 class="category-title">
        Best Sellers <span class="category-title-span">Books</span>
      </h1>
      <div class="container-main-gallery"></div>
    </div>
    <div class="js-target"></div>
  </section>
</main>
