<main class="container">
  <!-- Sidebar -->
  <aside class="sidebar">
    <section class="categories">
      <h3>All categories</h3>
      <ul class="categories-list"></ul>
    </section>
    <section class="support">
      <button type="button" class ="support-button" > </button>
    </section>
  </aside>

  <!-- Main box -->
  <section class="main">
    <div class="container-main-gallery">
      <!-- слід через JS завантажувати -->
      <h1 class="category-title">
        Best Sellers <snap class="category-title-snap">Books</snap>
      </h1>
    </div>
    <div class="js-target"></div>
  </section>
</main>
