<div class="mobile-menu is-hidden-modal js-mobile-menu">
  <div class="mobile-menu-container container">
     <!-- <button class="user-sign-up-mobile link">
      Sign up
    <svg class="icon-arrow-right" width="20" height="20">
      <use href="./img/svg/sprite.svg#icon-arrow-narrow-right"></use>
    </svg>
    </button> -->

<!-- ----------------------------- -->
    <div class="loged-in-wrapper ">
        <a href="#" class="user-login-mobile link">
          <div class="icon-user-wrapper-mobile">
            <svg class="icon-user-mobile" width="19" height="19">
              <use href="./img/svg/sprite.svg#icon-user"></use>
            </svg>
          </div>
          Stephen
        </a>
        <div class="nav-mobile-wrap">
          <ul class="nav-list-mobile">
            <li class="nav-item-mobile">
              <a
                class="home-link-mobile link"
                href="./index.html"
                aria-label="Посилання на головну сторінку">HOME</a
              >
            </li>
            <li class="nav-item-mobile">
              <a
                class="shopping-link-mobile link"
                href="./shopping-list-page.html"
                aria-label="Посилання на сторінку Shopping List"
                ><span>SHOPPING LIST</span>
                <svg class="shopping-bag-icon-mobile" width="20" height="20">
                  <use href="./img/svg/sprite.svg#icon-shoping-bag"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <button class="log-out-mobile">
              Log out
    <svg class="icon-arrow-right" width="20" height="20">
      <use href="./img/svg/sprite.svg#icon-arrow-narrow-right"></use>
    </svg> 
        </button>
    </div>
  </div>
</div>
