<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <!-- <div > -->
      <div class="wrapper-book"></div>
      <button class="modal__icon" data-modal-close>
        <svg class="icon-close-modal-book" width="25px" height="25px">
          <use href="./img/svg/sprite.svg#icon-x-close"></use>
        </svg>
      </button>
      <button type="submit" class="form__button" data-modal-open>
        ADD TO SHOPPING LIST
      </button>
      <p class="added-text"></p>
    <!-- </div> -->
  </div>
</div>
