<section class="hotel__room-luxe">
  <div class="hotel__room-luxe__container container">
    <h2 class="hiden">Double Room Luxe Mimino</h2>
    <div class="hotel__room-luxe__content">
      <div class="hotel__room-luxe__info">
        <h3 class="hotel__room-luxe__top-text">Amet minim mollit non</h3>
        <h4 class="hotel__room-luxe__logo">MIMINO</h4>
        <h5 class="hotel__room-luxe__title">ДВОМІСНИЙ НОМЕР</h5>
        <p class="hotel__room-luxe__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
    </div>

    <div class="hotel__room-luxe__picture room_luxury">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/hotel/interior-desktop-1.jpg    1x,
            ./images/hotel/interior-desktop-1@2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 1024px)"
          srcset="
            ./images/hotel/interior-tablet-1.jpg    1x,
            ./images/hotel/interior-tablet-1@2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 414px)"
          srcset="
            ./images/hotel/interior-mobile-1.jpg    1x,
            ./images/hotel/interior-mobile-1@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          src="./images/hotel/interior-mobile-1.jpg"
          alt="Double Room Luxe"
          loading="lazy"
        />
      </picture>
    </div>

    <!-- контейнер слайдеру -->
    <div class="swiper-container_room-2">
      <div class="swiper swiper-fix js-swiper_room-2">
        <!-- обгортка зображень слайдеру -->
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-hotel/slider/picture-desktop-1.jpg    1x,
                  ./images/about-hotel/slider/picture-desktop-1@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-hotel/slider/picture-tablet-1.jpg    1x,
                  ./images/about-hotel/slider/picture-tablet-1@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                srcset="./images/about-hotel/slider/picture-mobile-1@2x.jpg 2x"
                src="./images/about-hotel/slider/picture-mobile-1.jpg"
                alt="picture"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-hotel/slider/picture-desktop-2.jpg    1x,
                  ./images/about-hotel/slider/picture-desktop-2@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-hotel/slider/picture-tablet-2.jpg    1x,
                  ./images/about-hotel/slider/picture-tablet-2@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                srcset="./images/about-hotel/slider/picture-mobile-2@2x.jpg 2x"
                src="./images/about-hotel/slider/picture-mobile-2.jpg"
                alt="picture"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-hotel/slider/picture-desktop-3.jpg    1x,
                  ./images/about-hotel/slider/picture-desktop-3@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-hotel/slider/picture-tablet-3.jpg    1x,
                  ./images/about-hotel/slider/picture-tablet-3@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                srcset="./images/about-hotel/slider/picture-mobile-3@2x.jpg 2x"
                src="./images/about-hotel/slider/picture-mobile-3.jpg"
                alt="picture"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-hotel/slider/picture-desktop-4.jpg    1x,
                  ./images/about-hotel/slider/picture-desktop-4@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-hotel/slider/picture-tablet-4.jpg    1x,
                  ./images/about-hotel/slider/picture-tablet-4@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                srcset="./images/about-hotel/slider/picture-mobile-4@2x.jpg 2x"
                src="./images/about-hotel/slider/picture-mobile-4.jpg"
                alt="picture"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-hotel/slider/picture-desktop-5.jpg    1x,
                  ./images/about-hotel/slider/picture-desktop-5@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-hotel/slider/picture-tablet-5.jpg    1x,
                  ./images/about-hotel/slider/picture-tablet-5@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                srcset="./images/about-hotel/slider/picture-mobile-5@2x.jpg 2x"
                src="./images/about-hotel/slider/picture-mobile-5.jpg"
                alt="picture"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-hotel/slider/picture-desktop-6.jpg    1x,
                  ./images/about-hotel/slider/picture-desktop-6@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-hotel/slider/picture-tablet-6.jpg    1x,
                  ./images/about-hotel/slider/picture-tablet-6@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                srcset="./images/about-hotel/slider/picture-mobile-6@2x.jpg 2x"
                src="./images/about-hotel/slider/picture-mobile-6.jpg"
                alt="picture"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>

    <!-- обгортка нових кнопок слайдеру -->
    <div class="swiper-btn-wrapper_room-2">
      <button class="js-swiper5-button-prev" type="button">
        <svg width="32" height="32">
          <use href="./images/icons.svg#arrow-left"></use>
        </svg>
      </button>
      <button class="js-swiper5-button-next" type="button">
        <svg width="32" height="32">
          <use href="./images/icons.svg#arrow-right"></use>
        </svg>
      </button>
    </div>

    <!-- кнопки модальних -->
    <div class="hotel__room-luxe_btn">
      <a
        class="btn btn-details btn-black link"
        href="./room-page-2.html"
        aria-label="Кнопка посилання на сторінку кімнати"
        >Детальніше</a
      >
      <div class="room-3-marg">
        <button
          class="btn btn-look-price btn-black js-open-modal"
          type="button"
          aria-label="Кнопка посилання до пергляду цін"
          data-modal="3"
        >
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
