<section class="hotel-room-3">
  <div class="room-3-container container">
    <div class="hotel-room-3-info">
      <h3 class="amet-3" lang="en">Amet minim mollit non</h3>
      <p class="mimino-3">MIMIHO</p>
      <h2 class="there">ТРЬОХМІСНИЙ НОМЕР</h2>
      <p class="amett" lang="en">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="room-3">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/hotel/interior-desktop-1.jpg    1x,
            ./images/hotel/interior-desktop-1@2x.jpg 2x
          "
          type="image/jpeg"
        />
        <source
          media="(min-width: 1024px)"
          srcset="
            ./images/hotel/interior-tablet-1.jpg    1x,
            ./images/hotel/interior-tablet-1@2x.jpg 2x
          "
          type="image/jpeg"
        />
        <img
          srcset="./images/hotel/interior-mobile-1@2x.jpg 2x"
          src="./images/hotel/interior-mobile-1.jpg"
          alt="кімната"
        />
      </picture>
    </div>

    <!-- контейнер слайдеру -->
    <div class="room-3-slider">
      <div class="swiper swiper-room-3 js-swiper_about-restaurant">
        <!-- обгортка зображень слайдеру -->
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-hotel/slider/picture-desktop-1.jpg    1x,
                  ./images/about-hotel/slider/picture-desktop-1@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-hotel/slider/picture-tablet-1.jpg    1x,
                  ./images/about-hotel/slider/picture-tablet-1@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                srcset="./images/about-hotel/slider/picture-mobile-1@2x.jpg 2x"
                src="./images/about-hotel/slider/picture-mobile-1.jpg"
                alt="picture"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-hotel/slider/picture-desktop-2.jpg    1x,
                  ./images/about-hotel/slider/picture-desktop-2@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-hotel/slider/picture-tablet-2.jpg    1x,
                  ./images/about-hotel/slider/picture-tablet-2@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                srcset="./images/about-hotel/slider/picture-mobile-2@2x.jpg 2x"
                src="./images/about-hotel/slider/picture-mobile-2.jpg"
                alt="picture"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-hotel/slider/picture-desktop-3.jpg    1x,
                  ./images/about-hotel/slider/picture-desktop-3@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-hotel/slider/picture-tablet-3.jpg    1x,
                  ./images/about-hotel/slider/picture-tablet-3@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                srcset="./images/about-hotel/slider/picture-mobile-3@2x.jpg 2x"
                src="./images/about-hotel/slider/picture-mobile-3.jpg"
                alt="picture"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-hotel/slider/picture-desktop-4.jpg    1x,
                  ./images/about-hotel/slider/picture-desktop-4@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-hotel/slider/picture-tablet-4.jpg    1x,
                  ./images/about-hotel/slider/picture-tablet-4@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                srcset="./images/about-hotel/slider/picture-mobile-4@2x.jpg 2x"
                src="./images/about-hotel/slider/picture-mobile-4.jpg"
                alt="picture"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-hotel/slider/picture-desktop-5.jpg    1x,
                  ./images/about-hotel/slider/picture-desktop-5@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-hotel/slider/picture-tablet-5.jpg    1x,
                  ./images/about-hotel/slider/picture-tablet-5@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                srcset="./images/about-hotel/slider/picture-mobile-5@2x.jpg 2x"
                src="./images/about-hotel/slider/picture-mobile-5.jpg"
                alt="picture"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-hotel/slider/picture-desktop-6.jpg    1x,
                  ./images/about-hotel/slider/picture-desktop-6@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-hotel/slider/picture-tablet-6.jpg    1x,
                  ./images/about-hotel/slider/picture-tablet-6@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                srcset="./images/about-hotel/slider/picture-mobile-6@2x.jpg 2x"
                src="./images/about-hotel/slider/picture-mobile-6.jpg"
                alt="picture"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-btn-wrapper_room-3">
      <button class="js-swiper-button-prev" type="button">
        <svg width="32" height="32">
          <use href="./images/icons.svg#arrow-left"></use>
        </svg>
      </button>
      <button class="js-swiper-button-next" type="button">
        <svg width="32" height="32">
          <use href="./images/icons.svg#arrow-right"></use>
        </svg>
      </button>
    </div>

    <div class="room-3-btn">
      <a
        class="btn btn-details btn-black link"
        href="./room-page-3.html"
        aria-label="Кнопка посилання на сторінку кімнати"
        >Детальніше</a
      >
      <button
        class="btn btn-look-price btn-black js-open-modal"
        type="button"
        aria-label="Кнопка посилання до пергляду цін"
        data-modal="3"
      >
        Переглянути ціни
      </button>
    </div>
  </div>
</section>
