<section class="about-kitchen">
  <div class="about-kitchen-container container">
    <h2 class="about-kitchen-title hiden">About kitchen</h2>
    <div class="about-kitchen-wrapper-main">
      <div class="about-kitchen-main-info">
        <h3 class="about-kitchen-subtitle">Amet minim mollit non</h3>
        <p class="kitchen-name">MIMIHO</p>
        <p class="about-kitchen-desc">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="about-kitchen-interior-main">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/about-kitchen/interior-desktop-1.jpg    1x,
              ./images/about-kitchen/interior-desktop-1@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/about-kitchen/interior-tablet-1.jpg    1x,
              ./images/about-kitchen/interior-tablet-1@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            srcset="./images/about-kitchen/interior-mobile-1@2x.jpg 2x"
            src="./images/about-kitchen/interior-mobile-1.jpg"
            alt="cooking process"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
    <div class="about-kitchen-wrapper-details">
      <div class="about-kitchen-interior">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/about-kitchen/interior-desktop-2.jpg    1x,
              ./images/about-kitchen/interior-desktop-2@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/about-kitchen/interior-tablet-2.jpg    1x,
              ./images/about-kitchen/interior-tablet-2@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            srcset="./images/about-kitchen/interior-mobile-2@2x.jpg 2x"
            src="./images/about-kitchen/interior-mobile-2.jpg"
            alt="fresh food"
            loading="lazy"
          />
        </picture>
      </div>
      <p class="about-kitchen-desc gold">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <!-- контейнер слайдеру -->
    <div class="test-new">
      <div class="swiper swiper-fix js-swiper_about-kitchen">
        <!-- обгортка зображень слайдеру -->
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-kitchen/slider/picture-desktop-1.jpg    1x,
                  ./images/about-kitchen/slider/picture-desktop-1@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-kitchen/slider/picture-tablet-1.jpg    1x,
                  ./images/about-kitchen/slider/picture-tablet-1@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                srcset="
                  ./images/about-kitchen/slider/picture-mobile-1@2x.jpg 2x
                "
                src="./images/about-kitchen/slider/picture-mobile-1.jpg"
                alt="cooking process"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-kitchen/slider/picture-desktop-2.jpg    1x,
                  ./images/about-kitchen/slider/picture-desktop-2@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-kitchen/slider/picture-tablet-2.jpg    1x,
                  ./images/about-kitchen/slider/picture-tablet-2@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                srcset="
                  ./images/about-kitchen/slider/picture-mobile-2@2x.jpg 2x
                "
                src="./images/about-kitchen/slider/picture-mobile-2.jpg"
                alt="khinkali"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>

    <!-- обгортка нових кнопок слайдеру -->
    <div class="swiper-btn-wrapper_about-kitchen">
      <button class="js-swiper3-button-prev" type="button">
        <svg width="32" height="32">
          <use href="./images/icons.svg#arrow-left"></use>
        </svg>
      </button>
      <button class="js-swiper3-button-next" type="button">
        <svg width="32" height="32">
          <use href="./images/icons.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
