<section class="menu-place" id="menu">
  <div class="container menu-height">
    <h2 class="menu_title">МЕНЮ РЕСТОРАНУ</h2>
    <div class="menu-section">
      <div class="first-menu-colomn">
        <h3 class="menu-title">Гарячі страви</h3>

        <div class="menu-flex">
          <div class="course-container">
            <h4 class="menu-course-title">Борщ з телятини з квасолею</h4>
            <p class="menu-course-composition">
              Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
              помідори, зелень, сметана
            </p>
          </div>

          <p class="menu-course-weight">400 г</p>
          <p class="menu-course-price">240 грн</p>
        </div>

        <div class="menu-flex">
          <div>
            <h4 class="menu-course-title">Суп сирний з куркою</h4>
            <p class="menu-course-composition">
              Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
            </p>
          </div>

          <p class="menu-course-weight">400 г</p>
          <p class="menu-course-price">200 грн</p>
        </div>

        <div class="menu-flex">
          <div>
            <h4 class="menu-course-title">Паста карбонара</h4>
            <p class="menu-course-composition">
              Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
            </p>
          </div>

          <p class="menu-course-weight">350 г</p>
          <p class="menu-course-price">430 грн</p>
        </div>

        <div class="menu-flex">
          <div>
            <h4 class="menu-course-title">Стейк зі свинини</h4>
            <p class="menu-course-composition">
              Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
              овочами
            </p>
          </div>

          <p class="menu-course-weight">400 г</p>
          <p class="menu-course-price">500 грн</p>
        </div>

        <div class="menu-flex">
          <div>
            <h4 class="menu-course-title">Горбуша в соусі з білого вина</h4>
            <p class="menu-course-composition">
              Ніжна горбуша, вершковий соус на основі білого вина
            </p>
          </div>

          <p class="menu-course-weight">400 г</p>
          <p class="menu-course-price">400 грн</p>
        </div>

        <h3 class="menu-title">Гарніри та закуски</h3>

        <div class="menu-flex">
          <div class="course-container">
            <h4 class="menu-course-title">Запечені овочі</h4>
            <p class="menu-course-composition">Запечені овочі</p>
          </div>

          <p class="menu-course-weight">200 г</p>
          <p class="menu-course-price">230 грн</p>
        </div>

        <div class="menu-flex">
          <div>
            <h4 class="menu-course-title">Картопля фрі</h4>
            <p class="menu-course-composition">Картопля, соус томатний</p>
          </div>

          <p class="menu-course-weight">150 г</p>
          <p class="menu-course-price">160 грн</p>
        </div>

        <div class="menu-flex">
          <div>
            <h4 class="menu-course-title">Картопля по-селянськи</h4>
            <p class="menu-course-composition">
              Картопля, спеції, соус пікантний
            </p>
          </div>

          <p class="menu-course-weight">150 г</p>
          <p class="menu-course-price">160 грн</p>
        </div>

        <div class="menu-flex">
          <div>
            <h4 class="menu-course-title">Хрумкі соління з бочки</h4>
            <p class="menu-course-composition">
              Огірок солений, помідор квашений, квашена капуста, морква
              по-корейські
            </p>
          </div>

          <p class="menu-course-weight">250 г</p>
          <p class="menu-course-price">350 грн</p>
        </div>
        <div class="menu-flex">
          <div class="chiken">
            <h4 class="menu-course-title">Крильця курячі в медовому соусі</h4>
            <p class="menu-course-composition">
              Крильця курячі, гірчично-медовий соус, подається з морквою,
              селерою і соусом блючиз
            </p>
          </div>

          <p class="menu-course-weight">400 г</p>
          <p class="menu-course-price">420 грн</p>
        </div>
      </div>

      <div class="second-menu-colomn">
        <h3 class="menu-title">Салати</h3>

        <div class="menu-flex">
          <div class="course-container">
            <h4 class="menu-course-title">Цезар з куркою</h4>
            <p class="menu-course-composition">
              Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
              соус цезар
            </p>
          </div>

          <p class="menu-course-weight">230 г</p>
          <p class="menu-course-price">450 грн</p>
        </div>

        <div class="menu-flex">
          <div>
            <h4 class="menu-course-title">Цезар з креветками</h4>
            <p class="menu-course-composition">
              Тигрові креветки, листя салату, помідори чері, сир пармезан,
              грінки, соус цезар
            </p>
          </div>

          <p class="menu-course-weight">230 г</p>
          <p class="menu-course-price">300 грн</p>
        </div>

        <div class="menu-flex">
          <div>
            <h4 class="menu-course-title">Грецький салат</h4>
            <p class="menu-course-composition">
              Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
              листя салату, соус
            </p>
          </div>

          <p class="menu-course-weight">230 г</p>
          <p class="menu-course-price">280 грн</p>
        </div>

        <div class="menu-flex">
          <div>
            <h4 class="menu-course-title">М’ясний салат</h4>
            <p class="menu-course-composition">
              Куряче філе або свиняча вирізка, свіжі огірок, помідор,
              болгарський перець, соус ранч
            </p>
          </div>

          <p class="menu-course-weight">230 г</p>
          <p class="menu-course-price">300 грн</p>
        </div>

        <h3 class="menu-title">Десерти</h3>

        <div class="menu-flex">
          <div class="course-container-">
            <h4 class="menu-course-title-dessert">Торт наполеон</h4>
          </div>

          <p class="menu-course-weight">230 г</p>
          <p class="menu-course-price">300 грн</p>
        </div>

        <div class="menu-flex">
          <div>
            <h4 class="menu-course-title-dessert">Торт маковий</h4>
          </div>

          <p class="menu-course-weight">230 г</p>
          <p class="menu-course-price">300 грн</p>
        </div>

        <div class="menu-flex">
          <div>
            <h4 class="menu-course-title-dessert">Тірамісу</h4>
          </div>

          <p class="menu-course-weight">120 г</p>
          <p class="menu-course-price">260 грн</p>
        </div>

        <h3 class="menu-title">Напої</h3>

        <div class="menu-flex">
          <div>
            <h4 class="menu-course-title-dessert">Чай чорний/зелений</h4>
          </div>

          <p class="menu-course-weight">500 мл</p>
          <p class="menu-course-price">100 грн</p>
        </div>
        <div class="menu-flex">
          <div>
            <h4 class="menu-course-title-dessert">Еспресо</h4>
          </div>

          <p class="menu-course-weight">30 мл</p>
          <p class="menu-course-price">100 грн</p>
        </div>
        <div class="menu-flex">
          <div>
            <h4 class="menu-course-title-dessert">Американо</h4>
          </div>

          <p class="menu-course-weight">150 мл</p>
          <p class="menu-course-price">100 грн</p>
        </div>
        <div class="menu-flex">
          <div>
            <h4 class="menu-course-title-dessert">Капучино</h4>
          </div>

          <p class="menu-course-weight">200 мл</p>
          <p class="menu-course-price">160 грн</p>
        </div>
        <div class="menu-flex">
          <div>
            <h4 class="menu-course-title-dessert">Лате</h4>
          </div>

          <p class="menu-course-weight">200 мл</p>
          <p class="menu-course-price">160 грн</p>
        </div>
      </div>
    </div>

    <button
      class="button-menu btn-black js-open-modal"
      type="button"
      aria-label="Кнопка бронювання столику"
      data-modal="1"
    >
      Забронювати столик
    </button>
  </div>
</section>
