<section class="room-amenities">
  <!-- загальний контейнер -->
  <div class="room-amenities-container container">
    <!-- обгортка текстового контенту -->
    <div class="room-amenities__wrapper-text">
      <h2 class="room-amenities__title">Зручності у номері</h2>
      <p class="room-amenities__title-content">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <!-- текстовий контент -->
      <ul class="list">
        <li class="room-amenities__content">
          <h3 class="room-amenities__content-title">Загальні</h3>
          <div class="room-amenities__content-blok">
            <p class="room-amenities__content-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
            <p class="room-amenities__content-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </li>
        <li class="room-amenities__content">
          <h3 class="room-amenities__content-title">Ванна кімната</h3>
          <div class="room-amenities__content-blok">
            <p class="room-amenities__content-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
            <p class="room-amenities__content-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </li>
        <li class="room-amenities__content">
          <h3 class="room-amenities__content-title">Спальня</h3>
          <div class="room-amenities__content-blok">
            <p class="room-amenities__content-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint.
            </p>
          </div>
        </li>
        <li class="room-amenities__content">
          <h3 class="room-amenities__content-title">Кухня</h3>
          <div class="room-amenities__content-blok">
            <p class="room-amenities__content-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint.
            </p>
            <p class="room-amenities__content-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint.
            </p>
          </div>
        </li>
        <li class="room-amenities__content">
          <h3 class="room-amenities__content-title">Медіа</h3>
          <div class="room-amenities__content-blok">
            <p class="room-amenities__content-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
            </p>
          </div>
        </li>
      </ul>
    </div>

    <!-- секція кнопки та посилання -->
    <!-- !!!!!  додати атрибут для модалки !!!!! -->
    <button
      class="room-amenities__button btn-booking js-open-modal"
      type="button"
      data-modal="2"
    >
      Оформити бронювання
    </button>
    <a class="link room-amenities__link" href="./hotel-page.html">
      <span class="room-amenities__link-text"
        >Повернутися до перегляду номерів</span
      >
      <svg class="room-amenities__link-icon" width="24px" height="24px">
        <use href="./images/icons.svg#arrow-right"></use>
      </svg>
    </a>
  </div>
</section>
