<section class="room-hero">
  <div class="hero-room-main container">
    <div class="swiper swiper_room-hero my-swiper">
      <div class="room-box swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/hero/room/hero-hotel-desktop-7.jpg    1x,
                ./images/hero/room/hero-hotel-desktop-7@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hero/room/hero-hotel-tablet-1.jpg    1x,
                ./images/hero/room/hero-hotel-tablet-1@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/hero/room/hero-hotel-mobile-1.jpg    1x,
                ./images/hero/room/hero-hotel-mobile-1@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./images/hero/room/hero-hotel-desktop-7.jpg"
              alt="Кімната з двоспальним ліжком"
              width="1280"
              class="room-img"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/hero/room/hero-hotel-desktop-8.jpg    1x,
                ./images/hero/room/hero-hotel-desktop-8@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hero/room/hero-hotel-tablet-2.jpg    1x,
                ./images/hero/room/hero-hotel-tablet-2@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/hero/room/hero-hotel-mobile-2.jpg    1x,
                ./images/hero/room/hero-hotel-mobile-2@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./images/hero/room/hero-hotel-desktop-8.jpg"
              alt="Кімната з двоспальним ліжком"
              width="1280"
              class="room-img"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/hero/room/hero-hotel-desktop-9.jpg    1x,
                ./images/hero/room/hero-hotel-desktop-9@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hero/room/hero-hotel-tablet-3.jpg    1x,
                ./images/hero/room/hero-hotel-tablet-3@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/hero/room/hero-hotel-mobile-3.jpg    1x,
                ./images/hero/room/hero-hotel-mobile-3@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./images/hero/room/hero-hotel-desktop-9.jpg"
              alt="Кімната з двоспальним ліжком"
              width="1280"
              class="room-img"
            />
          </picture>
        </div>
      </div>
    </div>
    <div class="swiper-btn-wrapper-room-hero">
      <button class="swiper-button-prev-room" type="button">
        <svg width="40" height="40">
          <use href="./images/icons.svg#arrow-left"></use>
        </svg>
      </button>
      <button class="swiper-button-next-room" type="button">
        <svg width="40" height="40">
          <use href="./images/icons.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
    <div class="room-description">
      <h1 class="hero__title--room">трьохмісний номер</h1>
      <p class="hero__text--room">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="hero__wrapper-btn-adress hero-room-btn">
      <a
        class="hero__address-link link link-room"
        href="https://goo.gl/maps/Wy7yLtt57uTDzyF48"
        target="_blank"
        rel="noreferrer noopener"
        aria-label="Посилання на карту Google із локацією"
      >
        <svg class="location-icon">
          <use href="./images/icons.svg#location-pin"></use>
        </svg>
        <address>
          Україна, м. Полтава,
          <p>вул. Маршала Бірюзова, 15</p>
        </address>
      </a>

      <button
        class="btn btn-look-price btn-room js-open-modal"
        type="button"
        aria-label="Кнопка посилання до пергляду цін"
        data-modal="3"
      >
        Переглянути ціни
      </button>
    </div>
    <!-- додати шляхи до соцмереж-->
    <ul class="hero__social-list list soc-room">
      <li>
        <a
          href="https://www.instagram.com/"
          target="_blank"
          rel="noreferrer noopener"
          aria-label="Посилання на сторінку instagram"
        >
          <svg class="social-icon" width="24" height="24">
            <use href="./images/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.facebook.com/"
          target="_blank"
          rel="noreferrer noopener"
          aria-label="Посилання на сторінку facebook"
        >
          <svg class="social-icon" width="24" height="24">
            <use href="./images/icons.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://twitter.com/"
          target="_blank"
          rel="noreferrer noopener"
          aria-label="Посилання на сторінку twitter"
        >
          <svg class="social-icon" width="24" height="24">
            <use href="./images/icons.svg#twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
